[2019-11-25 17:52] keith-mcclellan opened #1 "Start and Initialize a new Cluster"
1) Start an {n} node insecure cluster with PVs (Persistent Volumes) using a custom name
2) Initialize the database

[2019-11-25 17:54] keith-mcclellan opened #2 "Create a new secure cluster"
1) download an intermediate cert from K8s CA
2) sign a cert bundle for the cluster
3) Start an {n} node secure cluster using this bundle with PVs (Persistent Volumes) using a custom name
4) Initialize the database

[2019-11-25 17:55] keith-mcclellan opened #3 "Enable basic configuration of CRDB pods"
Enable configurable settings for the following:
1) Persistent Volume Size
2) vCPU count
3) RAM/Memory amount

[2019-11-25 17:57] keith-mcclellan opened #4 "Expose CRDB config settings for new cluster creation"
Provide a mechanism to override crdb defaults when starting the database.  e.g. override cache size

[2019-11-25 17:58] keith-mcclellan opened #5 "Enable rolling patch of cockroachdb"
Enable pod replacement with new patch (e.g. 19.2.x) for maintenance purposes

[2019-11-25 18:00] keith-mcclellan opened #6 "Enable feature release upgrade"
manage upgrade workflow for feature releases (e.g. 19.1.x to 19.2.x) with manual finalize step

[2019-11-25 18:03] keith-mcclellan opened #7 "Update CRDB configuration"
Provide a mechanism for updating the configuration of an existing crdb cluster (e.g. update cache settings, etc)

[2019-11-25 18:04] keith-mcclellan opened #8 "Update CRDB pod config"
Provide a mechanism for updating the pod config for an existing CRDB cluster (add more pods, change persistent volume size, change CPU count, etc)

[2020-05-04 20:39] #1 closed, assigned to vladdy

[2020-05-07 18:14] #2 closed, assigned to vladdy

[2020-05-07 18:14] #3 closed, assigned to vladdy

[2020-05-07 18:14] #4 closed, assigned to vladdy

[2020-05-07 18:14] #5 closed, assigned to vladdy

[2020-05-07 18:14] #6 closed, assigned to vladdy

[2020-05-07 18:14] #7 closed, assigned to vladdy

[2020-05-07 18:14] #8 closed, assigned to vladdy

[2020-05-07 18:54] vladdy opened #17 "Recover Docker PR"
Somehow #16 did not end up in the master after merge. It is required to find out why it happened and ensure the needed changes get into the main branch.

cc @johnrk

[2020-05-17 17:52] #17 closed

[2020-05-21 16:53] johnrk opened #22 "[crdb-operator] [bug] unable to make changes (e.g. crdb version, cache size, # of nodes, size of pvc) to an existing k8s cluster"
**Unable to make changes to an existing k8s cluster**
As one of the expected features in the [K8s Operator MVP](https://docs.google.com/document/d/1_ctNL6P9w8f4PZ7vQvN_UDcS_8OQ3MxyT82iM-oXBPU/edit
), it appears the Operator is not watching for any changes to a Cockroach cluster. When starting up a new cluster, it appears to properly apply the spec.

I think Vlad intended to watch for changes here:

[2020-05-21 20:35] vladdy commented on #22
@johnrk, it would be good to have more details about the setup, but more than likely that should be fixed in #20

[2020-05-21 22:09] johnrk commented on #22
Thanks, @vladdy. I'll test it again with that change (#20). And I'll share more details later.

[2020-05-22 19:59] johnrk opened #23 "applying crd requires turning off client side validation (--validate=false)"
When applying the CRD (kubectl apply -f config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml), it requires using the --validate=false flag.

At the moment, I receive this error:
`error: error validating "config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml": error validating data: ValidationError(CustomResourceDefinition.spec.validation.openAPIV3Schema.properties.spec.properties.dataStor

[2020-05-22 20:08] johnrk commented on #22
@vladdy , circling back on this, I applied the repro steps as described above in the issue:
Setup a K8s cluster deployed on GCP, following these instructions: https://www.cockroachlabs.com/docs/stable/orchestrate-cockroachdb-with-kubernetes.html
gcloud container clusters create cockroachdb --machine-type n1-standard-4
kubectl create clusterrolebinding $USER-cluster-admin-binding --clusterrole=clus

[2020-05-22 20:44] vladdy commented on #22
Thank you for providing all those details. A couple of additional questions:

1. How did you run the operator with the PR?
2. What was the state of the StatefulSet before and after the update? You can get it via `kubectl get sts crdb -o yaml`?

[2020-05-22 20:45] vladdy commented on #23
This is the expected behavior due to new functionality added into k8s libraries. Did you want something to be done about it?

[2020-05-22 21:16] johnrk commented on #22
**1. How I ran the Operator with the PR:**
1. I pulled your changes
git checkout -b vladdy-refactor-resource-reconciliation master
git pull https://github.com/vladdy/crdb-operator.git refactor-resource-reconciliation
2. started a new cluster
3. and ran the tests above

**2. state of the StatefulSet right now:**
Johns-MacBook-Pro:crdb-operator johnkendall$ kubectl get sts crdb -o yaml
apiVersion: a

[2020-05-23 18:16] johnrk commented on #22
After doing kubectl delete -f config/examples/example.yaml,
Here's kubectl get sts crdb -o yaml output for before applying example.yaml, after applying example.yaml, and applying a changed example.yaml:

1. before applying example.yaml:
`Error from server (NotFound): statefulsets.apps "crdb" not found`

2. after applying example.yaml:
[code]

3. changed number of nodes to 2. and applying example.y

[2020-05-27 02:13] vladdy commented on #22
I see that you had the operator running for some time around that moment ("crdb-operator-68d986bdd-xdch2"'s age was 22 hours). I think it would be useful to ensure you use the operator built with the latest changes.

As an option, you can remove the deployed operator and just start the local one on top of the commit with `WATCH_NAMESPACE=default make run`. Also, I'm not sure if 2 nodes is a config

[2020-05-28 17:56] johnrk commented on #22
I created a new cluster, ran it locally with this commit (#20 ) with 3 nodes, and it's still not working. Running "kubectl get pods" didn't show resources.

[2020-05-28 20:24] bdarnell opened #24 "Rename to cockroachdb-operator?"
I think we should probably rename this to `cockroachdb-operator` (or maybe `cockroach-operator`) for consistency with everything else - we don't really use `crdb` in formal contexts much. It'll get a lot harder to change after this ships, so if we're going to change it we should do it soon.

[2020-05-28 20:37] johnrk commented on #24
I completely agree. I was thinking about this earlier.

[2020-05-28 20:53] bdarnell opened #25 "Feature parity with helm chart"
Our [helm chart](https://github.com/helm/charts/tree/master/stable/cockroachdb) currently has features not found in this operator. One of our goals for the operator is to be able to deprecate and replace the helm chart.

There's some upcoming maintenance work that we'd like to be able to avoid due to infrastructure changes in the helm project. The deadline to either do that work or deprecate the h

[2020-05-28 23:29] vladdy commented on #24
Let's do it!

[2020-05-28 23:30] vladdy commented on #22
I'm unable to replicate it in my env, but I'll try to test it in GKE tomorrow.

[2020-05-29 20:53] johnrk commented on #24
@jlinder , can you make this change? It appears I don't have the permissions to do so.

[2020-06-01 14:53] jlinder commented on #24
Sure thing! Done. It's now `cockroach-operator`.

[2020-06-01 14:55] bdarnell commented on #24
In addition to renaming the repo, we need to rename `cmd/crdb-operator` and any references to it.

[2020-06-01 14:57] jlinder commented on #24
Ah! Then perhaps I should change it back while that PR is created? Is there someone I should coordinate with?

[2020-06-01 15:31] vladdy commented on #24
@jlinder Feel free to leave it renamed. There is no relationship between the command name and the repo. I'll handle the command renaming later today.

[2020-06-01 15:33] jlinder commented on #24
@vladdy Excellent. Done!

[2020-06-02 14:54] #24 closed

[2020-06-10 01:09] vladdy commented on #22
@johnrk sorry, I did not realize this got closed when my PR was merged. Definitely, I did not expect that. I'm still unable to replicate the problem. Is it still not working for you?

[2020-06-25 17:18] chrislovecnm opened #29 "Operator CRDs"
As an operator, I can configure CockroachDB custom resources on a
new cluster in Kubernetes, so that I can initialize a cluster that will meet
my deployment needs.

[2020-06-25 17:21] chrislovecnm commented on #29
Questions

1. Are we using CRDs for this?
2. If the operator does not own the cluster already how are we adjusting the settings?
3. How is number 4 and number 2 different?

[2020-06-25 17:23] chrislovecnm opened #30 "Operators Major Version Upgrade/Downgrades"
As an operator, I can perform major version upgrades via rolling restarts,
so that my application can take advantage of new features and use on a
more stable version of CockroachDB without losing availability.

[2020-06-25 17:23] chrislovecnm opened #31 "RedHat Marketplace support"
As an operator, I can get the latest OpenShift certified CockroachDB
Kubernetes Operator on the Red Hat Marketplace, so that I can more
easily purchase and deploy CockroachDB in my OpenShift environment.

[2020-06-25 17:24] chrislovecnm commented on #31
What is this? https://developers.redhat.com/articles/use-marketplace-add-cockroachdb-operator-openshift/

[2020-06-25 17:26] chrislovecnm opened #32 "Google Cloud Marketplace"
As an operator, I can get the latest Google Anthos certified
CockroachDB Kubernetes Operator on the Google Cloud Marketplace,
so that I can purchase and deploy CockroachDB on my Google Cloud
Anthos-based environment.

[2020-07-06 14:50] chrislovecnm opened #33 "First phase task list"
This issue is for me to track the first phase of work.  This is brainstorming so that we have an initial list of stuff.

Here is a breakdown of tasks:

- [ ] Learn more about coachroachdb
- [ ] Learn more about the db helm chart
- [x] Find documentation for various configuration
- [ ] Learn more about the operator
- [ ] Test the operator and determine a baseline
- [x] Get the operator building
- [

[2020-07-06 15:16] chrislovecnm opened #34 "Deployment has private image in it"
Do not have the current container image https://github.com/cockroachdb/cockroach-operator/blob/master/deploy/operator.yaml#L181

This does not allow for external use.

[2020-07-06 15:17] chrislovecnm commented on #34
@juanleno1

[2020-07-06 17:31] chrislovecnm commented on #29
https://github.com/chrislovecnm/cockroach-operator/blob/master/pkg/resource/statefulset.go seems to be where all of the configurations for the stateful set are located.

https://github.com/helm/charts/blob/master/stable/cockroachdb/templates/statefulset.yaml is a good example of the stateful set

[2020-07-06 17:33] chrislovecnm commented on #33
The helm chart is a good resource for what this operator needs to do. But what are the limitations for the helm chart?

[2020-07-06 17:41] chrislovecnm commented on #33
Also, how do we match the CLI values against the cluster and how do you change values on a cluster without restarting nodes

[2020-07-06 18:52] chrislovecnm commented on #29
https://www.cockroachlabs.com/docs/stable/cluster-settings.html does DevOps person use these settings?

new cluster in Kubernetes, so that I can initialize a cluster that will meet
my deployment needs.

Where should we start? What components are not set?  Is this just command line configurations?

[2020-07-06 21:09] chrislovecnm opened #35 "First Tasks"
cc @johnrk

List of the first possible task that I need to complete.  We can figure out what you want me to knock out first

- [ ] CI
- [ ] scripted end to end tasks
- [ ] implement new functionality

## CI

1. Get the binary and docker building in TeamCity
2. Push the binary to a private CGP registry - we can switch this to Dockerhub once the operator is deemed as beta-level by your team

## e2e

[2020-07-06 21:17] chrislovecnm commented on #35
cc @chrisseto

[2020-07-06 21:47] chrislovecnm commented on #34
I will implement moving to kustomize to build the yaml file, that way we can easily overlay the yaml file for testing, but have the stable yaml file checked in

[2020-07-06 21:50] chrislovecnm commented on #34
[code]

[2020-07-07 01:31] vladdy commented on #33
Welcome to the project, @chrislovecnm! Let me know if there is anything I can help with to get you up to speed.

[2020-07-07 14:01] chrislovecnm commented on #33
@vladdy thanks!  Let me get my bearings and I would some feedback on some of the work you would like to see done with this project.  CRL was kind enough to agree to work together on this so that we can get a great product out for the community and their clients.

[2020-07-07 14:03] chrislovecnm commented on #25
@bdarnell do we have a list of functionality that is missing between the parity?

[2020-07-07 14:05] chrislovecnm commented on #22
@johnrk what is the status on this?

[2020-07-07 15:32] bdarnell commented on #25
Just what's in the helm chart's readme. When I filed this issue I was mainly thinking about the [list of configuration parameters](https://github.com/helm/charts/blob/48dc1fc5fc54e69fb347101872b61c18208abaf0/stable/cockroachdb/README.md#configuration)

We were forced to do this work ahead of the Aug 13 deadline for other reasons, so there's no longer as much time pressure to deprecate and replace

[2020-07-07 17:06] chrislovecnm commented on #25
@bdarnell that gives me a good start.  Thanks!

cc @johnrk

[2020-07-07 17:12] chrislovecnm opened #37 "Scripts for CI Support"
This is a larger issue tracking sub-tasks.  We need to get this project building within TeamCity.

- [x] script out unit testing.  Might be able to use Makefile
- [x] push containers for testing
- [x] create containers
- [x] script out integration testing (big task)

Note:  we need to ensure that https://github.com/cockroachdb/cockroach-operator/pull/36 will run on the build servers or use a conta

[2020-07-08 17:20] johnrk commented on #22
@chrislovecnm , this issue is still open. We still need to make this work.

[2020-07-08 18:48] chrislovecnm opened #39 "nodeTLSSecret and Custom Certs"
example.yaml uses a generated secret and the operator is not creating the secret

[2020-07-08 18:49] chrislovecnm commented on #39
[code]

[2020-07-08 18:50] chrislovecnm opened #40 "Verify storageClassName"
We can set a storageClassName, but we are not validating its existence

[2020-07-08 18:54] chrislovecnm opened #41 "Error when deleting"
`k delete -f ../config/examples/example.yaml`

and we get

[code]

[2020-07-08 18:58] chrislovecnm opened #42 "Not cleaning up PVCs"
When we delete a database we do not seem to delete the PVCs correctly

[code]

You can then see the hanging PVC

[code]

[2020-07-08 19:28] chrislovecnm commented on #42
We are not cleaning up PVCs at all.  The question is what policy do we want to use for cleanup?

[2020-07-08 20:18] chrislovecnm commented on #42
@johnrk the operator is not deleting volumes that are attached to the database Pods when it deletes the database.  This is actually a feature of Kubernetes where you have to delete by hand the storage volumes when you delete a stateful set.  There reasoning is that you do not delete the storage automatically, because you might delete data.  I need to know if we want the default k8s behavior or ano

[2020-07-08 20:51] chrislovecnm opened #43 "Pod crashed when it first started"
This is a partial log dump.  The pod restarted and came up, but I am wondering if this is a timing issue.

This is from running the container cockroachdb/cockroach:v19.2.6

[code]

[2020-07-08 21:57] chrislovecnm commented on #39
in example.yaml we have a field:
[code]
This is stopping the operator from creating a TLSecret, and I do not understand what the purpose of the field in the API is. https://github.com/cockroachdb/cockroach-operator/blob/master/api/v1alpha1/cluster_types.go#L18 is the definition.

We are checking to see if this field is empty and if it is the TLSSecret is generated.

I am guessing that we have this

[2020-07-08 22:09] chrislovecnm commented on #39
I think this allows for a user to create a Kubernetes secret that contains a certificate. Then use that secret as the cert when a cluster starts.

[2020-07-08 22:23] chrislovecnm opened #44 "Post Stop Binary"
@chrisseto can you sometimes walk me through https://github.com/cockroachdb/cockroach-operator/commit/3ef3a9330f24e2bf9ecb27eb1f576db2c463bd20 and if we still need it?

[2020-07-08 22:23] chrislovecnm commented on #30
When doing a major version upgrade one setting via a SQL call needs to be made.

[2020-07-08 22:32] chrislovecnm commented on #34
I'm fixing this with kustomize, but I still do not like the implementation.  I think I need to create a kustomize file dynamically.

[2020-07-08 23:05] chrislovecnm commented on #41
Reconcile does not have any logic when a `crdbclusters` is deleted and it keeps trying to reconcile clusters that are deleting.  This error will occur if it cannot find a cluster it thinks it owns.  So the error is valid, but we may have a usecase where we need to double-check if the cluster is deleting.

[2020-07-09 00:21] johnrk commented on #39
@chrislovecnm , creating a secure cluster is a requirement. And I assume the former engineer working on this intended to enable that here.

@chrisseto , is this consistent with your understanding?

[2020-07-09 00:24] johnrk commented on #42
@chrisseto , do you know what behavior we want here?

[2020-07-09 14:59] chrislovecnm commented on #39
@vladdy thanks!  I was wondering if you going to allow for the naming of the secrets with the self-signed certs in them.  Would be great to set up 1/2 hour say next week.  I need to document the API and I think it would be great to get more information from you.

[2020-07-09 17:14] chrislovecnm opened #45 "e2e tests failures on GKE"
We are getting some test failures because of calico annotations

[code]

[code]

[2020-07-09 17:16] chrislovecnm opened #46 "Use k3s for CI on PRs and GKE for CI on Tags"
When we do a PR, using k3s is a great idea.
When we release a tag I recommend doing full platform testing, including GKE.

[2020-07-09 17:27] chrislovecnm opened #47 "Intial CI configured in Teamcity"
When we have a PR we need to run the following make targets

- `make docker/build/operator-ubi`
- `make docker/build/test-runner`
- `make test`
- `make lint`

[2020-07-09 17:38] chrislovecnm opened #48 "Future CI"
We need

- e2e testing
- testing to ensure that `make generate` does not produce new code
- spell check
- go fmt https://github.com/kubernetes/kops/blob/master/hack/verify-gofmt.sh
- go imports https://github.com/kubernetes/kops/blob/master/hack/verify-goimports
- go mods https://github.com/kubernetes/kops/blob/master/hack/verify-gomod.sh
- spelling https://github.com/kubernetes/kops/blob/master/h

[2020-07-10 00:38] vladdy commented on #39
@chrislovecnm, sure we can chat. I've also created #49 to add more info. Unfortunately, it looks like I lost permissions to add reviewers, so I hope somebody will notice it.

[2020-07-10 21:24] johnrk commented on #46
@chrislovecnm , What is k3? Is it the lightweight version of Kubernetes "k3s"?

[2020-07-10 21:40] johnrk commented on #30
Also, major version upgrades require a finalization step.

[2020-07-10 21:42] johnrk opened #50 "Minor Version Upgrades/Downgrades"
As an operator, I can perform minor version upgrades via rolling restarts,
so that my application can start using a more stable version of
CockroachDB without losing availability.

Minor version upgrades do not require a finalization step.

[2020-07-10 21:43] johnrk commented on #30
I've separated out the minor version upgrade work item into this issue: https://github.com/cockroachdb/cockroach-operator/issues/50

It requires less work because of the finalization step requirement with major version upgrades.

[2020-07-10 21:56] johnrk commented on #29
@chrislovecnm ,

Yes, suspect the existing Operator's [CRD](https://github.com/cockroachdb/cockroach-operator/blob/master/config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml) contains our desired set of custom resources. @chrisseto , is this consistent with CockroachCloud?

I'm not sure about this one. We need to be able to configure cluster settings to be able to apply a license (["enterpri

[2020-07-10 22:02] johnrk commented on #29
@chrislovecnm ,

We should start on making sure all of these custom resources in the [CRD](https://github.com/cockroachdb/cockroach-operator/blob/master/config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml) work. [nodes](https://github.com/cockroachdb/cockroach-operator/blob/master/config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml#L264), [version](https://github.com/cockroachdb/cockro

[2020-07-10 22:05] johnrk opened #51 "CockroachDB License Configuration"
As an operator, I can configure CockroachDB license on a new
CockroachDB cluster in Kubernetes, so that I initialize a cluster that
meets my expected deployment needs.

Customers need to be able to apply an enterprise license that exist in [cluster settings (enterprise.license)](https://www.cockroachlabs.com/docs/stable/cluster-settings.html).

[2020-07-10 22:06] johnrk commented on #29
I've separated out the CockroachDB Cluster Settings configuration in a separate issue: https://github.com/cockroachdb/cockroach-operator/issues/51

[2020-07-11 14:06] chrislovecnm commented on #50
@johnrk I should be able to demo this, but I think this is already in the operator.  We need more testing around this feature, but I think it already is working.  To be clear a minor version upgrade is working.

[2020-07-11 15:51] chrislovecnm opened #52 "Improve e2e testing kubectl auth with GKE"
I am testing against gke and I am getting a kubectl auth timeout.  The container that is running expects to be able to access gcloud binary that is set in my kubeconfig file.  This command is the helper command to refresh the auth token for the cluster.

For instance:
[code]

The container needs to run gcloud auth inside of the container, and not rely on my kubeconfig file.

[code]

There are a bu

[2020-07-11 15:58] chrislovecnm opened #53 "Improve testing - Using text files that represent object might be able to be improved."
Testing against strings that represent objects is a bit too fragile for my preference.  I am wondering if

[code]
Would work better.  When we update API or the k8s API is updated I do not want to modify a ton of text documents.  Also as I an into with Calico, the objects are even modified by the Kubernetes server.  I had to remove the Pod annotations added by calico in order to get the e2e testing

[2020-07-11 15:59] chrislovecnm commented on #46
@johnrk sorry I typo'ed it.  cockroachdb uses https://github.com/rancher/k3s for some testing.  And the project uses some of it now, but I am still coming up to speed.

[2020-07-11 16:00] chrislovecnm commented on #46
We may have some of this already in the project.  I am still figuring out all of the testing.

[2020-07-11 16:05] chrislovecnm commented on #43
This is a coachroachdb issue with @chrisseto this is fixed.  I am closing this issue.

[2020-07-11 16:05] #43 closed

[2020-07-11 16:07] chrislovecnm commented on #23
I am not having this issue with my version of kubectl.  I think this was a version issue on your machine.  We can keep this open and have someone else verify that this is fixed.

[2020-07-11 16:09] chrislovecnm commented on #22
@johnrk can you break this bug apart into the separate issues that you had? For instance, I am able to change the size of the cluster and also the version of cdb container.

[2020-07-11 16:13] chrislovecnm opened #54 "Nodes value in the API might be a tad confusing"
We have the following value in the API

https://github.com/cockroachdb/cockroach-operator/blob/bbfc23a928c1c1d39f167057ac814756a1c5d00f/api/v1alpha1/cluster_types.go#L14-L15

The term Node and Nodes are also used by Kubernetes

https://kubernetes.io/docs/concepts/architecture/nodes/

@johnrk I recommend renaming this to something like PodReplicaCount, Replicas, or something else that does not use

[2020-07-11 16:18] chrislovecnm opened #55 "CI needs to catch when APIs are not generated"
https://github.com/cockroachdb/cockroach-operator/blob/bbfc23a928c1c1d39f167057ac814756a1c5d00f/api/v1alpha1/cluster_types.go#L57

I think this is a duplicate issue, but here is the comment that we need to remove.

[2020-07-11 16:18] johnrk commented on #54
Fair point. let's discuss this during our next Standup.

[2020-07-11 16:27] vladdy commented on #54
Just as a comment, I chosen `nodes` instead of replicas as the field name because this is how CockroachDB calls its each instance in the documents. Probably, `NodeCount` could be a compromise.

[2020-07-11 16:34] chrislovecnm commented on #54
@vladdy I completely understand as Nodes is a common term with databases as well.

CoachroachNodes?? or CRNodes??? I do like the count.  I come from the k8s world, so whenever I talk about a DB running on top of k8s, it is fun to talk about Nodes :)

[2020-07-11 16:41] chrislovecnm opened #56 "e2e testing error"
I ran into this error, which might be a flake or a framework error:

[code]

It does not see to be an error with the operator.

[2020-07-11 16:45] vladdy commented on #54
Yeah, naming is one of the hardest things.

It could be `CockroachDBNodes`, but in such case assuming that we are already in the "cockroachdb domain" of the custom resource, it could be also reduced to `nodes` and although k8s has such term, I'm not convinced that it is something one would think about editing a database resource. However, `replicas` or something like that would be a new term which

[2020-07-11 16:48] chrislovecnm opened #57 "Unit testing on upgrade code"
Since upgrades are a big deal.  I need to do some work on unit testing the code for upgrades.

https://github.com/cockroachdb/cockroach-operator/blob/bbfc23a928c1c1d39f167057ac814756a1c5d00f/pkg/actor/upgrade.go#L38

[2020-07-11 16:49] chrislovecnm commented on #54
Yes run it buy some of the devops people who will use this product ;)

[2020-07-11 16:54] chrislovecnm opened #58 "Makefile improvement"
- [ ] documentation in the file
- [ ] `.PHONY` statements
- [x] allow for specific testing targets with variables

[2020-07-11 16:57] chrislovecnm opened #59 "Developer Documentation"
Most of what is in the README.md is developer documentation.  We probably should move that into a developer document, and start working on user documentation in the README.md.

[2020-07-11 16:57] chrislovecnm commented on #42
@johnrk we talked about this on standup. Did we make a decision?

[2020-07-11 16:59] chrislovecnm commented on #37
This is completed in https://github.com/cockroachdb/cockroach-operator/pull/38

[2020-07-11 16:59] #37 closed

[2020-07-11 17:00] chrislovecnm commented on #47
@johnrk I'm blocked on this because of my permissions with TeamCity and GitHub.  I cannot configure this.  I believe we have a ticket in to change this, but I wanted to note this as blocked.

[2020-07-11 17:02] chrislovecnm opened #60 "Configure A Project"
@johnrk I do not have access to configure a project for this repo, but can we do that during a standup?

https://github.com/cockroachdb/cockroach-operator/projects

[2020-07-11 17:11] chrislovecnm commented on #52
Google maintains an alpine image with gcloud:

[code]

We can do a `

[code]

With the Makefile or have a bash script in the build container.  I need to think a bit about how this will impact running this on teamcity as well

[2020-07-11 17:21] chrislovecnm commented on #34
I fixed this in https://github.com/cockroachdb/cockroach-operator/pull/38

But we need to document it and probably improve how we are doing this.  We are creating a new file that git wants to check-in, instead of using a temp file.

Eventually, I want the actual version of the container in this file, which will be modified when we push releases

[2020-07-11 17:21] chrislovecnm commented on #34
Closing and opening a couple of issues

[2020-07-11 17:21] #34 closed

[2020-07-11 17:22] chrislovecnm opened #62 "Document kustomize use"
We are using kustomize in this project now and we need documentation around it

[2020-07-11 17:24] chrislovecnm opened #63 "kustomize use improvement"
We are using kustomize for some of the acceptance testing scripts.

https://github.com/cockroachdb/cockroach-operator/blob/bbfc23a928c1c1d39f167057ac814756a1c5d00f/hack/apply-operator.sh#L50-51

This script is a bit messy since it modifies one of the files, and git then wants to check it in.  We need to copy the file to a temp folder and then use kustomize to deploy those files.

[2020-07-11 17:28] chrislovecnm opened #64 "Create a Cockroach Operator release process"
This project will need a release process.  We probably want a stable, beta, and dev versions.

- [x] documentation for the process, WIP
- [ ] container registry
- [X] [version naming](https://github.com/cockroachdb/cockroach-operator/pull/378)
- [X] manifest to deploy the operator
- [ ] manifest to deploy the API object crds
- [ ] cdb version support - what versions of cdb will be supported by whi

[2020-07-11 17:30] vladdy commented on #53
You don't need to update a lot of text documents with the current implementation. If what you get is expected, the '-update' command line flag for test will do the needed update of fixtures.

The problem with the `Diff` on the exact object in integration/e2e tests is that you can miss objects you do not expect to be created and it is hard to understand what underlying object is expected or the ent

[2020-07-11 17:35] chrislovecnm commented on #53
That is gonna get fixed.  Great point and opening an issue. And I think that will help with part of this.  I am a gke guy and rarely run k8s locally, so hence I ran into this.  I opened this issue mostly to write and think about this, as we will probably have to test this against GKE and other on-prem systems to pass testing.

[2020-07-11 17:37] chrislovecnm opened #65 "Acceptance testing platforms"
@johnrk what platforms does this operator needs to be tested against?  We are building this to support on-prem as well as cloud-deployed k8s.  What type of on-prem installations? I think this is a shortlist of testing that we can start with:

- Kind (baseline)
- GKE
- EKS
- kops on AWS
- Some bare metal / VMware / Openstack

[2020-07-11 17:40] chrislovecnm commented on #53
@vladdy on a personal note, I very much appreciate your incite and feedback.  You know this project a lot better than I do, and did a ton of work on it.  It is in really good shape, and I appreciate what you have done with it.  I am lucky to work on this now, and collaborate with you more in the future!

[2020-07-11 17:42] chrislovecnm opened #66 "Pod security with manifest that is deployed"
I need to look at the Pod manifest that we are deploying with the operator.  I think it still has the auth token mounted.  I should also double-check the container security as well.  I might be wrong on the auth token, but we may need to remove it.

[2020-07-11 17:53] vladdy commented on #53
Thanks Chris. I would be happy to help with some work here.

[2020-07-11 18:03] chrislovecnm commented on #66
@chrisseto where is the Dockerfile for crdb?

[2020-07-12 13:47] chrisseto commented on #66
Here is the [Dockerfile](https://github.com/cockroachdb/cockroach/blob/master/build/deploy/Dockerfile).

The build process is handled outside of that specific dockerfile and the binary is just copied in.

It's [documented fairly well](https://github.com/cockroachdb/cockroach/tree/master/build) but I'm happy to track down answers for any questions you might have!

[2020-07-13 14:46] chrislovecnm opened #68 "Downgrade/Upgrade fails with EmptyDir"
Downgraded a cluster from cockroachdb/cockroach:v20.1.3 to cockroachdb/cockroach:v20.1.2 and got

[code]

Pods are not starting

[2020-07-13 14:54] chrislovecnm opened #69 "e2e tests are not cleaning up pvc's"
We are leaving behind pv's and pvc's when we run unit tests.  We need to wait the default grace period and then delete the disks.

[2020-07-13 14:57] chrislovecnm commented on #68
The db was using a emptydir and not a PV, so I need to test that.

[2020-07-13 15:52] chrislovecnm commented on #68
I tested with a pvc and this does not fail

[2020-07-13 21:02] chrislovecnm opened #71 "create gcp integration testing server"
https://github.com/chrislovecnm/gcp-dev-server-terraform should do the trick

[2020-07-13 23:16] johnrk opened #72 "Investigate if Liveness Probing is Production Grade"
During Monday's (7/13) demo of the Operator, it was identified that our liveness probing for Kubernetes may need to improve. This will be helpful to have to have proper end to end testing.

For our [end to end testing](https://github.com/cockroachdb/cockroach-operator/tree/master/e2e), we verify that clusters are setup properly. But we don't check to see if they're running properly. We don't run a

[2020-07-13 23:40] vladdy commented on #72
Just a small correction. e2e tests check for liveness of all pods - https://github.com/cockroachdb/cockroach-operator/blob/master/e2e/assert.go#L138

[2020-07-14 19:05] chrislovecnm commented on #42
We need to document this as part of the operator.  PVs will not be deleted by the operator.

[2020-07-14 19:06] chrislovecnm opened #73 "SQL Client for testing and upgrades"
We need to implement a SQL client that is used for both e2e testing, and also the operator uses the same client to make the SQL command between major version upgrade.

[2020-07-14 19:07] chrislovecnm opened #74 "Implement code for major version upgrade"
The operator must

1. detect a major version upgrade
2. make a SQL call into the cluster
3. upgrade the container

Testing

We need to write e2e tests for this as well

[2020-07-14 19:08] chrislovecnm commented on #40
The operator must validate the storage class name when creating PVs.  It will fail to create the database if the storage class name is incorrect.

[2020-07-14 19:11] chrislovecnm commented on #25
We need to validate the following items:

- [ ] clusterDomain | Cluster's default DNS domain | cluster.local
- [ ] conf.attrs | CockroachDB node attributes | []
- [ ] conf.cache | Size of CockroachDB's in-memory cache | 25%
- [ ] conf.cluster-name | Name of CockroachDB cluster | ""
- [ ] conf.disable-cluster-name-verification | Disable CockroachDB cluster name verification | no
- [ ] conf.join | L

[2020-07-14 19:34] vladdy commented on #74
Maybe you have plans on different implementation, but the operator already does that already as well as e2e tests exists:

https://github.com/cockroachdb/cockroach-operator/blob/master/e2e/e2e_test.go#L165
https://github.com/cockroachdb/cockroach-operator/blob/master/e2e/e2e_test.go#L208

(although the names of the second step in the tests need to be fixed)

[2020-07-14 19:51] chrislovecnm commented on #74
Does the operator make the sql call into the database? There is some field we need to set

[2020-07-14 19:56] chrislovecnm commented on #25
I do not think we need the init container configurations.

[2020-07-14 20:03] vladdy commented on #74
If you are talking about setting the `cluster.preserve_downgrade_option`, then it does:

https://github.com/cockroachdb/cockroach-operator/blob/master/pkg/actor/upgrade.go#L183

[2020-07-14 20:03] chrislovecnm commented on #74
I'm seeing that you are doing it 😄

https://github.com/cockroachdb/cockroach-operator/blob/14682f2f9140db8a8bc66538c68e993acf28cbd0/pkg/actor/upgrade.go#L96

[2020-07-14 20:04] chrislovecnm commented on #73
We have a sql client that is used by

https://github.com/cockroachdb/cockroach-operator/blob/14682f2f9140db8a8bc66538c68e993acf28cbd0/pkg/actor/upgrade.go#L96

We need to use it during testing

[2020-07-14 20:06] chrislovecnm commented on #25
@chrisseto the job is for the certs as well

[2020-07-14 20:18] chrislovecnm commented on #25
There is another feature of creating more than one cluster.  But we can do that using multiple crds

[2020-07-14 20:19] chrislovecnm commented on #25
The values file is an easier read than the documentation

https://github.com/cockroachdb/helm-charts/blob/master/cockroachdb/values.yaml

[2020-07-14 21:24] chrislovecnm opened #75 "Network Policy Management"
@johnrk the helm chart creates network policies API definitions as well as manages cockroachdb clusters.  Is this a requirement?

https://github.com/cockroachdb/helm-charts/blob/25e4598e13fa9402242d837e828a550a20e8a648/cockroachdb/values.yaml#L357

[code]

[2020-07-14 22:39] chrislovecnm opened #76 "Ingress for Database"
The helm chart supports the creations of an ingress object.  Do we support this in the operator

[code]

https://github.com/cockroachdb/helm-charts/blob/25e4598e13fa9402242d837e828a550a20e8a648/cockroachdb/values.yaml#L245

[2020-07-14 22:42] chrislovecnm opened #77 "Add image API values"
Need to add the following API values

[code]

[2020-07-14 22:44] chrislovecnm opened #78 "Add API values for site wide MetaData fields"
Need to add the following API values.

[code]

Do we need to add API values for annotations?

[2020-07-14 22:47] chrislovecnm opened #79 "PodDisruptionBudget"
Add API values to control PDB, and implement PDB.

[code]

Probably need to default to a value that will keep quorum.

[2020-07-14 22:49] chrislovecnm commented on #23
@johnrk can you please test this?  I believe this is resolved by using the latest version of GKE and kubectl.

[2020-07-14 22:55] chrislovecnm commented on #25
@johnrk am I coding to duplicate complete parity?  Just want to make sure that the requirements include that work.  I am breaking the issue into chunks of work.

[2020-07-15 01:49] johnrk commented on #42
^ cc @taroface

[2020-07-15 01:50] johnrk commented on #75
@chrislovecnm , I'll get back to you on this.

[2020-07-15 13:32] johnrk commented on #74
This is a duplicate: https://github.com/cockroachdb/cockroach-operator/issues/30

[2020-07-15 14:10] johnrk commented on #60
@chrislovecnm , this is the new project: https://github.com/cockroachdb/cockroach-operator/projects/2

[2020-07-15 14:30] #23 closed

[2020-07-15 15:19] chrislovecnm commented on #60
Closing

[2020-07-15 15:19] #60 closed

[2020-07-15 15:21] chrislovecnm commented on #74
I opened this for the implementation, but I will close this and comment on the other issue.

[2020-07-15 15:22] chrislovecnm commented on #30
This should be implemented.  I need to check on the e2e test, and it may need improving, but we can open a separate issue for that.  Can you please test @johnrk

[2020-07-15 15:25] chrislovecnm opened #80 "Documentation Improvements"
There is a lot of documentation that needs to be improved.  I'm opening this issue to track the improvements.

- [ ] README.md - needs to be turned into a user guide. It is now more a developer guide.
- [ ] Developer.md - needs to be improved to talk about testing and code layout.
- [ ] Code Comments - improvement is required.
- [ ] Release process - needs to be documented

[2020-07-15 15:26] chrislovecnm commented on #80
@vladdy @johnrk @chrisseto what other improvements are required?

[2020-07-15 15:28] chrislovecnm commented on #73
@vladdy you are checking the that the pods are alive after an upgrade and other e2e tests, but are you making SQL calls into them?

[2020-07-15 15:30] chrislovecnm commented on #52
We are using testing framework from the k8s project, and I need to see if I can recreate this on the testing instance that I have.  This might be related to not using a service account.  Need to look through more of the source code, but I think this is a lower priority issue.

[2020-07-15 15:43] chrislovecnm commented on #50
@vladdy https://www.cockroachlabs.com/docs/stable/upgrade-cockroach-version.html are all the steps on this page implemented

[2020-07-15 15:55] johnrk commented on #25
We'll break this one apart for the MVP.

[2020-07-15 16:54] vladdy commented on #80
I would say that the user guide should be a part of the main website along with other k8s related docs, but it is up to @johnrk to decide.

[2020-07-15 16:59] vladdy commented on #73
I did not do that as I'm unaware of a query with a result that can guarantee that a pod or the entire cluster is healthy. I relayed on the assumption that the database will have improvements around health reporting if it is needed.

[2020-07-15 17:33] johnrk commented on #80
Yes, for the MVP, the priority is having a README that's detailed enough to get a new user running. Based on my conversation with Ryan, the user guide/public documentation will be started in Q3.

I'll break these items out into separate issues.

[2020-07-15 21:14] johnrk opened #84 "GCP API Enable Instructions"
For running on a GCP Account, we need to update the README to inform users to enable GCP API.

**cloudresourcemanager.googleapis.com**

[2020-07-16 13:07] chrisseto commented on #25
The init job takes care of running `cockroach init` against `cockroachdb-0`. The operator [instead execs into the pod](https://github.com/cockroachdb/cockroach-operator/blob/948c17fbba040985fa0fc836da0b586e17706499/pkg/actor/initialize.go#L75).

[2020-07-16 13:18] chrisseto commented on #44
I added the post stop binary to automatically [decommission](https://www.cockroachlabs.com/docs/stable/remove-nodes.html) cockroach pods that were being removed from the cluster.

Cloud handles this by execing into pods that are going to be removed. We've found that the process can take anywhere between 5 minutes to 1 hour. Having the operator take care of decommissioning rather than the pod may b

[2020-07-16 14:25] vladdy commented on #44
That's how I prototyped it.

[2020-07-16 18:48] chrislovecnm commented on #79
@johnrk requirements questions.  We do not allow the user to set `minAvailable`, in the helm chart, instead of `maxUnavailable` in the PDB.  I have implemented the capability for a user to set both.  Thoughts?

If the size of the database is just a single pod we do not create the PDB.

Open question.  Do we allow the user to not have a PDB at all?  It is a valid use case, but I would not recommend

[2020-07-16 19:26] chrislovecnm opened #87 "Kubebuilder api validation"
We need to use the api validation, for example:

[code]

[2020-07-16 19:51] chrislovecnm opened #88 "User kubebuilder to generate docs"
kubebuilder supports the generation of documentation from tags in go files:

[code]

This is not well documented so I am not certain that we will want to use this, but we will see.

[2020-07-16 19:54] chrislovecnm opened #89 "Managing Operator YAML file"
We have the operator RBAC generating as part of the manifest CRD generation but we also have the manifest in the operator.yaml.  I am not certain why we have it in two places.

Also, we need to work out a release process for this file.

[2020-07-16 20:10] chrislovecnm commented on #45
This is fixed.  @johnrk close?

[2020-07-16 20:47] chrisseto commented on #79
We should probably note somewhere that single node clusters are not suitable for production use?

What cases do you have in mind besides a single node cluster?

[2020-07-16 21:09] #45 closed

[2020-07-16 21:17] chrislovecnm commented on #79
@chrisseto

Some users do not like PDBs, it is personal preference tbh.

[2020-07-16 21:17] chrislovecnm commented on #79
Is this not documented in the DB docs?

[2020-07-16 21:54] vladdy commented on #79
so if some users do not like it, why do we need to support it? There is nothing what prevents the user from creating a CR with the budget they need along with cockroachdb cluster.

The only pro of supporting PDBs in the operator I see is it allows to remove the logic of ensuring that the db cluster has enough of healthy nodes out of the operator. However, it is unclear how this is going to play wi

[2020-07-17 17:07] johnrk opened #90 "README.md for new users"
In addition to developer documentation, we need to separate out a new user friendly README.md. Our existing README is designed for developers.

[2020-07-17 17:09] #71 closed

[2020-07-17 17:29] johnrk opened #91 "Operator isn't listening for changes in the dataStore custom resource (e.g. storage: 50Gi->60Gi)"
After successfully creating a 3 node cluster with **config/examples/3-nodes-secure-kube-cert.yaml** , I changed modified the Storage field under dataStore from 60Gi to 50Gi. I expected the persistent volumes and persistent volume claims to change to my desired state, but they didn't.

Screenshots:
<img width="432" alt="Screen Shot 2020-07-17 at 1 25 15 PM" src="https://user-images.githubuserconten

[2020-07-17 17:34] johnrk commented on #22
You're correct that we can successfully changes number of (CockroachDB) nodes and versions.

However, changes to the pv and pvc doesn't appear to work. I've separated that out in this issue: https://github.com/cockroachdb/cockroach-operator/issues/91

[2020-07-17 17:34] #22 closed

[2020-07-17 20:02] chrislovecnm commented on #91
Need to research this, but this may not be feasible on all platforms. This is not a big but a feature that is not implemented

[2020-07-17 20:02] chrislovecnm commented on #90
This I think is a duplicate issue

[2020-07-17 20:04] chrislovecnm commented on #91
Does the helm chart support this?

[2020-07-17 20:08] chrislovecnm commented on #91
This is not supported under all use cases. A list of supported platforms:

Not certain this list is the full list, but we need to mention this.

We also need to determine how this impact database performance?

[2020-07-21 17:46] chrislovecnm commented on #79
@johnrk we want the parity with the helm chart for PDBs?  I am adding a feature and will have parity as well.  Do we want to allow the user to disable the PDB?

[2020-07-21 18:14] chrislovecnm commented on #39
@johnrk this is complete. We need to document it and probably improve validation

[2020-07-21 18:33] chrislovecnm opened #93 "constant naming for K8s API values"
When a coder imports a value from the  k8s api, we should have a standard for the naming of the imports.

For example:

https://github.com/cockroachdb/cockroach-operator/blob/5db59197699821e8b4572a4aa0a8f049f8cf9d7f/pkg/resource/statefulset.go#L24-L26

We are importing multiple API values.  A standard naming practice would make the code more readable.

[2020-07-21 18:37] chrislovecnm opened #94 "Using IntOrString"
We are using `int32` in the API.  Should we convert them over to `IntOrString` values?  I need to look at the k8s API more and see if this makes sense.

[2020-07-21 18:40] chrislovecnm opened #95 "E2E testing for PDBs"
I have tested them by hand, but we should have a better e2e test for them.

1. Create DB of 5 nodes
2. Set PDB to MaxUn to 2 Nodes
3 Try to scale the db to 3 nodes.

The above should fail.

[2020-07-21 19:44] chrislovecnm opened #98 "Implement Verify Goimports Python"
Need to implement https://github.com/kubernetes/kops/blob/master/hack/verify-goimports and include in CI

[2020-07-21 20:23] chrislovecnm commented on #77
@johnrk so I am not going to model the same way the chart has it.  I will have the user create a secret separately from the operator so that we are not storing a password in the CRD plaintext.  They can provide the secret name and we will set the statefulset's `ImagePullSecret` to that value.

Thoughts?

[2020-07-21 20:29] johnrk commented on #77
Yes, that sounds correct. Do we currently store password in plaintext in our Helm Chart?

[2020-07-21 20:41] chrislovecnm opened #99 "Test PDBs more"
I need to manually test the PDBs more.  I may have some edge cases.

[2020-07-21 20:47] johnrk opened #100 "unable to handle scaling down from 3 to 1 CockroachDB nodes"
The Operator needs to be able to gracefully handle scaling down from 3+ CockroachDB nodes to 1 CockroachDB node

[2020-07-21 21:03] johnrk opened #101 "Difference between Kubernetes Operator Secure Cluster Behavior and Our Docs"
Using the [3-nodes-secure-kube-cert.yaml](https://github.com/cockroachdb/cockroach-operator/blob/master/config/examples/3-nodes-secure-kube-cert.yaml), it appeared to fail to create a secure cluster.

**Repro Steps**
After following the deployment instructions in the README:
1. ./hack/create-gke-cluster.sh -c $CLUSTER
2. ./hack/push-operator-gcr.sh
3. ./hack/apply-operator.sh -c $CLUSTER

I applie

[2020-07-22 16:41] chrislovecnm opened #102 "Drop in bazel build"
- [x] go gazelle rules
- [ ] go build rules
- [ ] code generation rules
- [ ] go container rules
- [ ] Kubernetes rules

[2020-07-22 16:42] chrislovecnm commented on #102
@chrisseto just for you

[2020-07-22 17:39] chrislovecnm commented on #101
I am not able to recreate this issue.  I followed the following steps on the master branch.

[code]

The cluster created. And here is the node CSR.

[code]

Here is the root csr:

[code]

The database is running in secure mode.

[code]

@chrisseto correct me if I am wrong, but when you start crdb without the `--insecure` flag and set  `--certs-dir` flag, CRDB is running in secure mode.  I believe

[2020-07-22 17:53] chrislovecnm commented on #101
Talking with @chrisseto he gave me this command to confirm:

[code]

[2020-07-22 17:54] chrislovecnm opened #103 "Do we create client and UI certs via k8s csr"
As of now, we are just using k8s to create a node and a root certificate.  Should we also create a client and an admin UI certificate at the same time?

[2020-07-22 18:06] chrislovecnm commented on #101
I actually got the secure client example to work as well. I had to modify the yaml to use the operator service account.

[code]

That pod will not start fully until you approve the certificate:

[code]

Then exec into the pod

[code]

And run the `coachroach` command to connect to the database:

[code]

This logs you into the database. You can confirm which hosts you are connected to by running:

[2020-07-22 18:09] chrislovecnm opened #104 "Create documentation showing how to use secure client example"
This example https://www.cockroachlabs.com/docs/stable/orchestrate-cockroachdb-with-kubernetes.html#step-3-use-the-built-in-sql-client does not work with the operator. Issue #101 details the changes that are required to use this example.

[2020-07-22 18:16] chrislovecnm commented on #101
To clarify something

No, I'm pretty sure that you get a CSR for the root certificate and a CSR for the node certificate.  Per the k8s documentation:

You need two TLS certificates to run CRDB; root and node certificates.  The K8s API signs the TLS certificates and then you reuse those certificates on each of the database nodes.  Moreover, if you need a client program to connect into the database

[2020-07-22 18:23] chrislovecnm commented on #99
I need to downsize a CRDB database and see if we remove the PDB as well.

[2020-07-22 19:12] chrislovecnm opened #105 "Operator testing"
We need to see how the operator reacts to changing configurations in rapid succession.

For instance update the db version and then increase replicas.

[2020-07-22 20:51] chrislovecnm commented on #100
@chrisseto is this allowed in crdb cloud?

[2020-07-22 22:08] chrislovecnm commented on #99
Are we deleting the PDBs as well.

[2020-07-22 22:15] chrislovecnm opened #106 "Setting locality on a pod instance"
I am not certain that we are setting the locality on a pod. Need to check if we should https://github.com/cockroachdb/k8s/tree/master/locality-checker

[2020-07-23 00:33] johnrk commented on #101
After deleting my Kubernetes cluster and starting clean, I was able to recreate the cluster with a root csr and one node csr:

<img width="1110" alt="Screen Shot 2020-07-22 at 8 32 09 PM" src="https://user-images.githubusercontent.com/1663752/88242189-804eeb00-cc5a-11ea-9d6e-026d57b00e27.png">
<img width="854" alt="Screen Shot 2020-07-22 at 8 32 23 PM" src="https://user-images.githubusercontent.co

[2020-07-23 00:47] johnrk commented on #101
I agree that we need the root certificate to validate the CA. But, in the [CockroachDB specific documentation on running with Kubernetes](https://www.cockroachlabs.com/docs/stable/orchestrate-cockroachdb-with-kubernetes.html), it states "As each pod is created, it issues a CSR for the CockroachDB node running in the pod, which must be manually checked and approved. "

[2020-07-23 13:26] chrisseto commented on #100
It is currently not allowed. We plan to support it at some point in time but it's fairly low on the priorities list as we don't think it's _super_ useful to customers.

[2020-07-23 13:48] johnrk commented on #100
@chrislovecnm , I thought you mentioned working on fixing something around at Standup on Tuesday. That's why I added this item.

[2020-07-23 14:01] chrislovecnm commented on #100
I wanted to say that we need to determine if this is an edge case that we can or cannot support. @chrisseto should we stop the user from doing this?

[2020-07-23 14:13] petermattis commented on #100
Moving from 3 to 1 nodes is not something that is well supported by CRDB at this time. Trying to support scaling down to 1 node in the operator before CRDB makes it easy is likely to be an exercise in frustration. So while it is a bit of a wart in the scaling story, I think it is one we should live with for the time being. @johnrk Please correct me if I'm wrong and there is work afoot in CRDB to m

[2020-07-23 15:38] chrislovecnm commented on #101
@vladdy can you comment on why your implementation?

[2020-07-23 15:51] chrislovecnm opened #108 "GKE e2e test flake"
We are getting a `ResourceQuota` occasionally.

[code]

This is causing the e2e tests to fail.

[2020-07-23 15:59] vladdy commented on #101
The main reasoning behind it was a simpler configuration. Also, it is not that clear what benefits per node certificates provide without good certificate management infrastructure as well as how it is going to be plugged into user provided certificates. Would the user be required to per-create the needed number of certificates? How it would look like for auto-scaling?

[2020-07-23 16:16] chrislovecnm commented on #108
Workaround is to run

[code]

[2020-07-23 16:29] chrislovecnm commented on #101
@vladdy agreed.

[2020-07-23 17:03] #66 closed

[2020-07-23 17:26] chrislovecnm opened #110 "Test with private docker registry"
We need to test the new feature to use a private registry with authentication.  The functionality was added in https://github.com/cockroachdb/cockroach-operator/pull/109/files#diff-52841dbfd39a46df4d455b22496afefbR33 and our e2e tests do not use a private registry.

[2020-07-23 19:23] chrislovecnm opened #112 "Build linting container"
We need a container to run the linting test commands.

[2020-07-23 19:25] chrislovecnm opened #113 "Push testing containers to registry"
This project uses two containers that are generated by running

[code]

We need to push those two containers into a container registry that is controlled by CR Labs.  Need to write a shell script to push these two containers to a registry.  The shell script will accept the name of the registry where we are pushing the containers to.

Modify the Makefile to accept the name of a versioned container.

[2020-07-23 19:26] chrislovecnm commented on #47
Unable to run make lint

[2020-07-23 19:27] chrislovecnm commented on #113
cc @jlinder

[2020-07-23 19:50] chrislovecnm commented on #46
cc @jlinder you can track this to implement in the other place you need to.

[2020-07-23 19:51] chrislovecnm commented on #112
If we can, it is preferred to add these components to the testing container.

[2020-07-23 19:54] chrislovecnm commented on #47
@johnrk the initial CI is running.  I have issues open for the next steps. You can open a PR and now your code is tested 🥳

[2020-07-23 19:55] chrislovecnm commented on #79
@johnrk the initial code is in, but I have testing that I am planning.

[2020-07-23 19:59] chrislovecnm commented on #99
@johnrk this needs to move into the in-progress column, and for some reason, I cannot see it.

[2020-07-27 15:32] johnrk commented on #101
cc @thtruo

[2020-07-27 15:52] thtruo commented on #101
cc @aaron-crl do you have specific feedback regarding the difference in behavior between the Operator implementation and what's described in our [docs](https://www.cockroachlabs.com/docs/stable/orchestrate-cockroachdb-with-kubernetes.html)

[2020-07-27 15:53] johnrk commented on #101
cc @taroface

[2020-07-27 15:59] johnrk commented on #47
@chrislovecnm , is this issue safe to close?

[2020-07-27 16:30] aaron-crl commented on #101
Separate certificates per node/pod reduce the blast damage from a compromise affecting only one node. While this may be a nominal impact in the current architecture, it's good security hygiene and will pay dividends as we improve security hygiene across other components of CRDB.

[2020-07-27 20:47] chrislovecnm commented on #101
Since this is "nominal impact" on the current architecture, I recommend waiting on implementing this till later.

[2020-07-27 20:48] chrislovecnm commented on #79
Closing this, as we have other issues open for testing

[2020-07-27 20:49] chrislovecnm commented on #77
@johnrk I cannot find this task to move it into the column where I am working on it

[2020-07-27 20:55] chrislovecnm commented on #47
Yes.  I have other issues filed for more work on the CI

[2020-07-27 20:55] #47 closed

[2020-07-27 21:23] chrislovecnm commented on #69
I'm unable to recreate this.  Closing

[2020-07-27 21:23] #69 closed

[2020-07-27 22:04] johnrk commented on #77
@chrislovecnm , it's now in the "In Progress" Column: https://github.com/cockroachdb/cockroach-operator/projects/2

[2020-07-27 22:20] johnrk commented on #79
@chrislovecnm , I'm just now catching up with this issue. Let's go for parity with the Helm Chart. What initial code is in? What did we land on here?

[2020-07-28 00:20] chrislovecnm commented on #112
Instead of doing this, I am going to combine the work with a bezel build.  Using bezel inside of a container will handle multiple testing and build challenges.

[2020-07-28 20:02] chrisseto commented on #91
@johnrk increasing disk sizes should be supported but decreasing them isn't something the operator (Or kubernetes for that matter) can do.

[2020-07-29 15:07] johnrk commented on #25
@chrislovecnm , I just spoke with @bdarnell, and it's less urgent for us to deliver support for all of these API values because we updated the Helm Chart. We won't need to support all of these for the MVP. This can be seen as a long term to do list.

[2020-07-29 15:11] johnrk commented on #101
@chrislovecnm , I just spoke with @bdarnell on this, and he's on board with our going with Vlad's original design for now of one csr for all nodes.

[2020-07-29 17:51] bdarnell commented on #101
Specifically, this is pending the outcome of https://github.com/cockroachdb/cockroach/pull/51991. If that plan is accepted and implemented, we'll be able to get rid of the current use of certificates. If it's not, we'll probably want to reopen this issue and switch to one cert per pod.

[2020-07-30 14:57] johnrk opened #116 "Code Cleanup Review by someone from SRE Team before sharing MVP with Customers"
Before sharing Operator with customers, we need to ensure that the entire codebase complies with CC standards. For example, "hack" directory should be renamed.

[2020-07-30 15:40] johnrk opened #117 "Test with image in Private Docker Registry"
With Authentication turned on, we need to test with image in private Docker registry

[2020-07-30 17:23] johnrk commented on #91
@chrislovecnm , can you clarify the steps a user is supposed to take to increase disk size?

Right now, it's successfully installing a CRDB cluster with the correct disk size. But it still doesn't appear to change when I do kubectl edit Crdbcluster <cluster name> or editing the yaml file.

In addition, I'm trying to delete the pv,pvc --all when the pods are still running, but it appears to hang.

[2020-07-30 20:28] chrislovecnm commented on #91
@johnrk I have not tested it TBH.  All you theoretically should have to do is edit the CRD.

[2020-07-30 20:43] chrislovecnm commented on #116
"hack" directory is a go standard ...  but we can rename it if you like 😄

Entire codebase compiling with CC standards means ALOT of code documentation needs to be done.

[2020-07-30 20:49] johnrk commented on #116
Ah ok, someone from Sales Engineering flagged it. Renaming just to be safe sounds good.

Agreed.

[2020-07-31 14:06] chrislovecnm commented on #116
@johnrk A ton of projects that I have worked and know of have a hack directory.  So I think it is counterproductive to rename it TBH.  If a developer is familiar with k8s like repositories they are familiar with the hack directory.

Here are some examples:

- https://github.com/jetstack/cert-manager/ an operator
- Kubernetes/CNCF - it is part of there standard - see https://github.com/kubernetes/r

[2020-07-31 14:09] chrislovecnm commented on #116
I would agree that this needs to occur when the code is beta level, even at this point I am unable to understand all of the code well enough to document the code.  This is a delay in the timeline that I would recommend pushing before an MVP.

[2020-07-31 14:21] vladdy commented on #116
@chrislovecnm, feel free to let me know what parts are that opaque and I'll send a PR with comments for them. Also, if we are talking about CockroachCloud standards, I don't think I saw any.

[2020-07-31 14:29] chrislovecnm commented on #116
@vladdy oh your offer to add documentation is very much appreciated!!  Let me see if we have a seperate issue open for code documentation.  If not I will open one.

[2020-07-31 14:42] chrislovecnm opened #118 "Code Documentation spike"
@vladdy has offered to update some of the code documentation.  This issue is the initial start of adding documentation.

- [ ] https://github.com/cockroachdb/cockroach-operator/blob/master/pkg/resource/discovery_service.go - specifically the placeholder func
- [ ] https://github.com/cockroachdb/cockroach-operator/blob/master/pkg/actor/deploy.go - specifically how these actors are called.
- [ ] htt

[2020-07-31 15:30] chrisseto commented on #91
The operator may have to restart all the CRDB pods? Once a PVC is resized, the actual FS won't be resized until the pod it's attached to is restarted/recreated.

[2020-07-31 15:35] jlinder opened #119 "TeamCity: add cleanup step to the CI build configurations"
Some of the CI steps leave files in the local checkout on the build agents. These can cause problems when the checkout is initialized for the next run of that build configuration. Solution: add a cleanup step to the CI build configurations.

[2020-07-31 17:22] chrisseto commented on #116
@johnrk the `hack` directory is very common in go projects, especially kubernetes related projects.

My argument for keeping it is the ubiquity in the OSS space. It's where contributors will look for setup scripts, test scripts, manifests, etc.

Can you say more about the concern that was flagged?

[2020-07-31 19:01] johnrk commented on #116
@chrisseto, got it. Keeping the "hack" directory is fine with me.

[2020-07-31 19:07] chrislovecnm commented on #119
@jlinder I can add a cleanup step, but CI/CD is gonna change big time.  The containers are going away pretty much.  As a temp fix we can do this if you like.

[2020-08-03 13:55] chrislovecnm opened #121 "Pod Image Unit Test"
I need a unit test for https://github.com/cockroachdb/cockroach-operator/blob/be0e17a36a263c2392f799defc5e447aaa00094a/pkg/resource/statefulset.go#L167

[2020-08-03 18:16] vladdy commented on #102
Is there a summary of what this change improves/makes possible? I'm not sure if Bazel provides any value for the projects, but increases the complexity.

[2020-08-03 21:37] aaron-crl commented on #101
After speaking with @bdarnell today it looks like we're going to punt the certificate update work referenced above until a later release so I recommend reopening this issue.

[2020-08-05 13:58] chrislovecnm commented on #102
@vladdy bazel is probably going to be used for multiple projects at CR.  Here are the advantages:

1. hermetic builds
2. deterministic builds
3. building docker without docker
4. better maintenance of container images
5. ability to handle k8s manifests with the build
6. better handling of release process, pushing containers, etc

Here is the big one: caching across CI builds for large projects.

Y

[2020-08-05 14:16] chrisseto commented on #102
We looking at using bazel in CC as well, largely for the caching advantages.

I had asked Chris to use bazel for this project so there would be a good example available to us!

[2020-08-05 14:18] vladdy commented on #102
If you meant Cockroach Labs by CR, I understand why the database needs to switch to Bazel, it is a huge project which users multiple languages. For the advantages you listed:

1. hermetic builds - handled by Go since the operator does not need any cgo dependencies
2. deterministic builds - handled by Go
3. building docker without docker  - can be done by other tooling such as Kanigko
4. better mai

[2020-08-05 14:22] vladdy commented on #102
Sure, if CC needs something more complex than what Go can provide, however, I'm not sure if you can see real advantages of Bazel in this project. I.e. the current draft of PR adding Bazel support is close in number of lines to all the code we have under `pkg`

[2020-08-05 14:24] vladdy commented on #116
Although `hack` folder is kind of standard in this kind of projects, in its current state, we can easily remove it to `scripts` or something like that.

[2020-08-05 15:13] chrislovecnm commented on #102
@vladdy all great points that I can counter, but alas there is code to write.  Yes, this project is spiking the introduction of Bazel into bigger projects.

@vladdy 90% of the code that is being checked in is autogenerated by bazel ;).   I am going to close this issue and break up what needs to be done initially.

[2020-08-05 15:13] #102 closed

[2020-08-05 15:14] chrislovecnm opened #124 "Initial Bazel PR"
Drop in the initial PR for bazel. Build and test are supported.  Not e2e.

[2020-08-05 15:14] chrislovecnm opened #125 "E2E testing with Bazel"
Implement kubetest2 for bazel testing

[2020-08-05 15:15] chrislovecnm opened #126 "Code linting with Bazel"
Get a bazel container running that allows for code listing. And get the various tests implemented.

[2020-08-05 15:55] chrislovecnm commented on #116
We are going to keep the hack directory 😁

[2020-08-10 17:14] chrislovecnm commented on #112
Closing because we are using bazel cc @johnrk

[2020-08-10 17:14] #112 closed

[2020-08-10 17:15] chrislovecnm commented on #89
@johnrk closing this because this is fixed by using bazel.  We need to document a release process

[2020-08-10 17:15] #89 closed

[2020-08-10 17:16] chrislovecnm commented on #63
We can get rid of kustomize I think because of bazel.  I will leave this open for now.

[2020-08-10 17:16] chrislovecnm commented on #58
Closing because we are moving to bazel.

[2020-08-10 17:16] #58 closed

[2020-08-10 17:20] chrislovecnm opened #127 "Release Registry"
We need to determine what image registry we are using.  Are we using dockerhub?

[2020-08-10 17:22] chrislovecnm opened #128 "Migrate verify header python script to go"
Python2 vs Python3 is HARD.  I think migrating the verify header script to go will reduce some pain.

[2020-08-10 17:23] chrislovecnm opened #129 "Move CI to Bazel"
- [x] test bazel on a vanilla server, to ensure that it does not depend on python or other binaries.
- [x] get bazel installed on CI server
- [x] reconfigure CI to use bazel

[2020-08-10 17:26] chrislovecnm opened #130 "CRD Controller version"
We are getting

[code]
We we generate the CRDs.  Not certain why this is occurring and we should file and issue on there repo.

[2020-08-10 17:28] taroface opened #131 "--max-sql-memory and --cache values should be dynamic"
The `--max-sql-memory` and `--cache` flags are currently set to 25% each when deploying with the Operator. However, this doesn't match how this is handled in our manual configs (e.g. https://github.com/cockroachdb/cockroach/blob/master/cloud/kubernetes/cockroachdb-statefulset-secure.yaml).

[This PR](https://github.com/cockroachdb/cockroach/pull/51471) updates our manual StatefulSet configs so tha

[2020-08-10 17:30] chrislovecnm opened #132 "Bazel nogo is failing"
We cannot run `nogo` with bazel as it is failing on some Kubernetes code.  Need to determine how to exclude the code or if they have fixed it.

[2020-08-10 17:31] taroface opened #133 "ready pods on an idle cluster become unready"
Upon spinning up a cluster with 3/3 ready pods, after ~30-60 mins 1 pod is gone and the remaining 2 become unready and are stuck at `ContainerCreating` with a `FailedAttachVolume` error. This happens repeatedly using the steps & default example documented in the README.

Example `kubectl events` output:

[code]

[2020-08-10 17:37] taroface opened #134 "can't recover from scaling down from 3 pods"
When scaling from 3 pods down to 1 or 2 pods (by changing the `replicas` value in the manifest), the remaining pods become unready due to failing the health check readiness probe. They remain unready when:

- The unready pod is deleted
- The .yaml is deleted and `./hack/apply-crdb-example.sh -c $CLUSTER` is re-run
- `./hack/delete-crdb-example.sh -c $CLUSTER` is run

When attempting to scale the c

[2020-08-10 17:44] chrislovecnm commented on #133
@taroface I need more details on how you are doing this.  Please provide me with which version of code you are on, version of Kubernetes, and also which example you are deploying.  Also if I can get details from pod or controller logs as well.

[2020-08-10 18:02] #118 closed

[2020-08-10 22:06] taroface commented on #133
@chrislovecnm Does this correspond to the version? This is the image I pushed: `cockroach-operator:ee5482e`

Kubernetes version:

[code]

[2020-08-10 23:39] chrislovecnm commented on #134
@taroface scaling down to one pod is not supported by CRDB.  We probably need to point to the documentation that states this.

[2020-08-10 23:55] chrislovecnm commented on #108
I am closing this since we are moving to kind, but this is still an issue if we point the e2e tests at a GKE cluster.

[2020-08-10 23:55] #108 closed

[2020-08-10 23:56] chrislovecnm commented on #98
Need to implement this checking in go, since we are not going to use python scripts in this project. I might be able to do a shell script instead.

[2020-08-11 14:23] johnrk commented on #75
As we previously discussed about not needing to cover all of the APIs from the Helm Chart, this is not required for the MVP

[2020-08-11 14:23] #75 closed

[2020-08-11 14:57] chrislovecnm commented on #133
I have three databases running for 75 min on my branch.

[code]

I will try testing it on the master branch.  I need the events from the statefulset and the deployment.  Do a describe on them.

[2020-08-11 22:36] chrislovecnm commented on #101
@johnrk did you mean to close this issue?

[2020-08-12 14:50] johnrk opened #135 "PDB issue: minor version change occurred, minAvailable and nodes were the same"
**Test Case**
With number of nodes (3) and number of minAvailable nodes (3) were the same, I attempted to change minor version from v20.1.3 to v20.1.2.

**Expectd Outcome:**
I expected K8s to not permit this minor version change because I declared for the minAvailable number of nodes to be 3.

**Actual Outcome:**
With this configuration, it allowed for less than 3 nodes to be available.

**Full Co

[2020-08-12 15:27] chrislovecnm commented on #135
What did the PDB look like that was created?  Did the pods restart?  What happens if you do 5 nodes and then try to scale down?

[2020-08-12 15:28] johnrk opened #136 "ImagePullPolicy doesn't appear to work for "Always" and "Never""
**Test case 1:**

- ImagePullPolicy: "Always"

- didn't change any about the image name (cockroachdb/cockroach:v20.1.4)

**Expected Result:** I expected to see a forced pull of the image and each pod to be restarted

**Actual Result:** no pods restarted

--

**Test case 2:**

- ImagePullPolicy: "Never"

- changed minor version from 20.1.2 to 20.1.4

**Expected Result:** no pulling and no change to

[2020-08-12 15:29] johnrk commented on #77
Related: https://github.com/cockroachdb/cockroach-operator/issues/136

[2020-08-12 15:29] johnrk commented on #99
Related: https://github.com/cockroachdb/cockroach-operator/issues/135

[2020-08-12 18:01] #135 closed

[2020-08-12 18:05] johnrk opened #137 "PDB Issue: minAvailable is incorrect"
**Test Case:**

- minAvailable: 2
- maxUnavailable: 1

**Expected Result:**
when running kubectl get poddisruptionbudget, it would return minAvailable: 2

**Actual Result:**
<img width="602" alt="Screen Shot 2020-08-12 at 2 03 58 PM" src="https://user-images.githubusercontent.com/1663752/90050786-b48b5980-dca4-11ea-8bbe-54f417ed9b4c.png">

**Full yaml:**
<img width="586" alt="Screen Shot 2020-08-1

[2020-08-12 18:26] #77 closed

[2020-08-12 19:27] taroface commented on #133
This was a problem with using `cockroach-ephemeral` which periodically deletes volumes. Closing this issue.

[2020-08-12 19:27] #133 closed

[2020-08-14 20:39] johnrk commented on #25
@keith-mcclellan , in lieu of a meeting, can you identify which API values - listed above that offer in our Helm Chart - that you believe are needed for the Operator to be production-ready? You mentioned our need to support the topology field as found in this config file: https://github.com/cockroachdb/cockroach-operator/blob/master/examples/3-nodes-insecure.yaml#L31

[2020-08-19 15:20] #52 closed

[2020-08-19 15:21] #62 closed

[2020-08-19 15:27] chrislovecnm opened #138 "Document how to test and deploy operator"
Testing and building of the operator will require bazel.  Document a testing process to install the operator on a Kubernetes cluster.  Remove the installation script that we are currently using.

[2020-08-19 17:47] johnrk opened #139 "K8s Operator: Support the ability to change an insecure to a secure cluster"
CockroachDB supports the ability to change a running insecure cluster to a secure one.

When running an insecure cluster with `tlsEnabled: true` and optionally `nodeTLSSecret` and `clientTLSSecret` to secure the cluster. (e.g. [3-nodes-secure-kube-cert.yaml](https://github.com/cockroachdb/cockroach-operator/blob/master/examples/3-nodes-secure-kube-cert.yaml#L20)).

**User story:** As an operator (

[2020-08-19 17:56] knz commented on #139
Yes the very main issue is that the k8s operator **should not be able to create insecure clusters to start with**.

We are going to deprecate (and remove) the `--insecure` flag in an upcoming release. It seems (to me) frivolous to invest cycles in supporting an "insecure mode" which we don't want anyone to use.

[2020-08-19 17:56] aaron-crl commented on #139
I think I'd rather invest the engineering work in removing the expectation that anything is running in "insecure" mode to begin with?

[2020-08-20 12:39] keith-mcclellan commented on #25
@johnrk We need to have full support for modifying the `cockroach start` command options (https://www.cockroachlabs.com/docs/stable/cockroach-start.html) - in my mind the most important ones are the ones that impact memory and cache usage, disk usage, networking, security, and locality.  It's okay if the initial MVP doesn't set these by default as long as it has a mechanism for the user to declare

[2020-08-20 13:33] vladdy commented on #25
@keith-mcclellan @johnrk the operator currently supports the optional `additionalArgs` field in the CR. The string gets added to the command line, so this should be covered for the MVP.

[2020-08-20 14:30] johnrk opened #140 "Ensure that a deployment using the Helm Chart or generic statefulsets can be migrated to the K8s Operator"
For self-hosted customers that are interested in using the Operator, they may be using our Helm Chart or deploying with a statefulset in the interim. We need to make migrating to the Operator seamless with no downtime.

Docs Issue: https://github.com/cockroachdb/docs/issues/8031

This is not for the K8s Operator MVP.

[2020-08-20 16:54] johnrk opened #141 "Verify additionalArgs field works for node-specific settings such as locality"
Coming out of this Helm Chart parity issue, @vladdy  raised that we support additionalArgs ([his comment](https://github.com/cockroachdb/cockroach-operator/issues/25#issuecomment-677667608)).

In the CRD, we define [additionalArgs](https://github.com/cockroachdb/cockroach-operator/blob/master/config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml#L56) to handle additional command line arguments

[2020-08-20 18:09] taroface commented on #141
Ideally, I think that a separate dedicated (and required) field could be used to define localities, rather than consigning this to `additionalArgs`, since distributing nodes across localities is a basic requirement of a resilient cluster. Perhaps this is what the `topology` object in some [examples](https://github.com/cockroachdb/cockroach-operator/blob/master/examples/3-nodes-insecure.yaml#L31) i

[2020-08-20 18:32] vladdy commented on #141
Yes, `max-sql-memory` and `cache`, we created as separate fields as those are usually the first fields set when the db runs in production. Regarding the `locality`, there is nothing what prevents it from being added as another field if it is needed. It is just would be needed to go through how it would be used from the client perspective.

For `topology`, it was a high level concept where, it was

[2020-08-21 15:29] chrislovecnm opened #146 "RedHat package generation"
We would like to get bazel generating the files for RedHat and the modified crd file.  See https://docs.openshift.com/container-platform/4.5/operators/operator_sdk/osdk-generating-csvs.html

cc: @keith-mcclellan

[2020-08-24 17:27] chrisseto opened #150 "Bazel Builds don't work on MacOS"
After cloning [master](https://github.com/cockroachdb/cockroach-operator/commit/849696b8a1e76820b21beb6113fe0d9070b520db), running on macOS `make dev/fmt` results in the following error:
[code]

This is because macOS does not have the `realpath` utility.

This can be mitigated by installing `coreutils` via brew.

[2020-08-24 17:29] chrislovecnm commented on #150
We need to document the requirement or don't use realpath

[2020-08-24 19:58] taroface commented on #139
@knz Is there an issue tracking this work that I can reference?

[2020-08-25 08:33] knz commented on #139
Here you are: https://github.com/cockroachdb/cockroach/issues/53404

[2020-08-27 14:12] johnrk opened #152 "Support Non-K8s Certificate Authority for the Operator"
EKS does not support the K8s CA. For customers that need to create a secure cluster and want to use EKS, the flexibility to support a non-K8s CA is needed.

As described in this [Github issue](https://github.com/cockroachdb/cockroach/pull/27921) and demonstrated in this [forum post](https://forum.cockroachlabs.com/t/secure-cockroachdb-cluster-on-aws-eks/1824/22), customers trying to use CockroachD

[2020-08-27 14:17] johnrk opened #153 "Make Secure Mode the Default"
We are going to make enabling an insecure cluster a discrete decision.

cc @keith-mcclellan

[2020-08-27 14:18] johnrk commented on #139
Closing this in favor of disabling insecure mode: https://github.com/cockroachdb/cockroach-operator/issues/153

[2020-08-27 14:18] #139 closed

[2020-09-01 13:39] chrislovecnm commented on #152
We already have this functionality build in.  I have not tested it, but see

https://github.com/cockroachdb/cockroach-operator/blob/master/api/v1alpha1/cluster_types.go#L48

[2020-09-01 15:05] taroface commented on #152
@chrislovecnm Which parameter does that line refer to? `TLSEnabled` is a bool. I couldn't find a place in the config to specify `ca.crt`.

[2020-09-01 19:51] chrislovecnm commented on #152
https://github.com/cockroachdb/cockroach-operator/blob/9e4ced68ba2f1351db734af72ad2f773830807b2/api/v1alpha1/cluster_types.go#L48-L54

These two values

[2020-09-01 21:06] chrislovecnm commented on #153
All of this code needs modification and remove the TLSEnabled API flag as well.

https://github.com/cockroachdb/cockroach-operator/search?q=TLSEnabled&unscoped_q=TLSEnabled

[2020-09-01 21:20] chrislovecnm opened #155 "RedHat Marketplace Changes"
1. How does CI use the RELATED_IMAGES with offline?
2. Our design allows a user to define a CRDB container inside the CustomResource and our upgrade functionality keys on that container, how can we do this in an offline manner?
3. What examples do you have for stateful applications that are using RELATED_IMAGES that automatically upgrade a stateful application?
4. The latest version of `operator-s

[2020-09-01 23:08] chrislovecnm opened #156 "Decommission node when downsizing cluster"
When downsizing a cluster we need to decommission the nodes before removing them. @chrisseto had some code that was doing some of this here https://github.com/cockroachdb/cockroach-operator/pull/26/files

[2020-09-01 23:48] keith-mcclellan commented on #146
Chris - as we discussed, we're closer but still having issues.  I stashed my hand-edited metadata files and the log from the scorecard tests here: https://github.com/cockroachdb/cockroach-operator/blob/openshift-certification/metadata/ & https://github.com/cockroachdb/cockroach-operator/blob/openshift-certification/metadata/operator-scorecard-test.log.txt

On the plus side, the operator package fo

[2020-09-02 15:00] chrislovecnm opened #157 "Backups and Restore"
In our standup, we talked about having backups and restore functionality inside of this operator. @johnrk and @keith-mcclellan can you please outline the requirements for this functionality?  Also, link any relevant documentation.  I understand this is outside of the MVP.

[2020-09-02 15:18] jlinder opened #158 "TeamCity: add a build configuration for end-to-end tests"
We want a new build configuration that runs the end-to-end tests in TeamCity.

Details:

- Make it a snapshot dependency for the `Operator GitHub CI` build configuration
- Name: End-to-End
- Location: Cockroach > Cockroach Operator
- What it needs to run:
[code]
- It probably needs to install bazel on the host like the `Test` build configuration

[2020-09-02 15:20] chrislovecnm commented on #158
1. Run bazel install script
2. Execute bazel command

[2020-09-02 17:55] chrislovecnm commented on #155
[code]

"description": "Custom Resource has a Status Block",

Our operator needs to update the CRD status field to installed.

"description": "All spec fields have matching descriptors in the CSV",
go lang annotations https://github.com/redhat-marketplace/redhat-marketplace-operator/blob/421db58b36272a76ce57bcca61ae2b65985eb3a5/pkg/apis/marketplace/v1alpha1/marketplaceconfig_types.go#L26

@zach-so

[2020-09-02 18:01] chrislovecnm commented on #155
We need a RBAC role, serviceaccount and a binding named the same as cockroach-operator

[2020-09-02 18:03] chrislovecnm commented on #155
[code]

[2020-09-02 18:30] chrislovecnm opened #159 "Add bazel build for RedHat Marketplace"
This issue is tracking the manual steps that we are doing for building the Marketplace release.  @keith-mcclellan please include any CSV updates that you are doing to this issue.

### Generate CSV

1. install operator-sdk curl -LO https://github.com/operator-framework/operator-sdk/releases/download/v0.19.2/operator-sdk-v0.19.2-x86_64-linux-gn
2. git clone https://github.com/operator-framework/oper

[2020-09-02 19:30] taroface opened #160 "pod creation failing"
running: `us.gcr.io/rk-k8s-test/cockroach-operator:ee5482e`

Applied the following config:

[code]

Pods didn't create. Events log showed:

[code]

[2020-09-02 21:14] jlinder commented on #158
I’ve created the new build configuration. Can you run an appropriate branch on it to check it works as expected? https://teamcity.cockroachdb.com/buildConfiguration/Cockroach_CockroachOperator_EndToEnd?branch=&mode=builds

[2020-09-08 15:08] keith-mcclellan opened #161 "[OpenShift - release blocker] - `--advertise-host relying on $(hostname -f), needs to be built like --join-addr"
Depending on how the CNI is set up in k8s, a pod's internal hostname may not get set to a routable address.  Because of this, $(hostname -f) is not a reliable way to set --advertise-addr in statefulset.go.  We "build" a known good --join-addr, I recommend building --advertise-addr the same way.  This is how we fixed this issue in the helm chart at one point.

[2020-09-08 15:09] keith-mcclellan opened #162 "[OpenShift - release blocker] rbac (role.yaml) is missing */finalizers"
OpenShift requires finalizers for most (if not all) RBAC roles and our current role.yaml is missing some of them.  Without this the cockroach-operator service account can't do things like request it's own TLS certs.

[2020-09-08 15:11] keith-mcclellan opened #163 "[OpenShift - release blocker] CRD is being generated with an invalid comment block"
The YAML parser that OpenShift uses to evaluate CRDs and CSVs does not handle comment blocks properly.  Our current default CSV has a 14 line comment block at the top of the CRD that needs to be removed for OpenShift packaging.

[2020-09-08 15:13] keith-mcclellan opened #164 "[OpenShift - release blocker] CSV generation doesn't auto-generate properly"
Currently, the CSV being generated by the operator makefile does not properly fill out all of the required stanzas in a way that passes the OpenShift cert tooling.

[2020-09-08 15:15] keith-mcclellan opened #165 "[OpenShift - release blocker] - Status block in CR not being updated as Operator Lifecycle Manager expects"
We are not updating the status block in a way that the Operator Lifecycle Manager (which OpenShift relies on) knows the status of the operator and/or the cockroachdb cluster automatically, and it's causing us to fail to pass their certification tests.

[2020-09-08 15:21] keith-mcclellan opened #166 "[OpenShift - release blocker] -image listed as required in CRD"
Because OpenShift requires us to be able to pass in spec.image.name as a variable and not in the CR, we need to remove -image from being a required field in the CR for OpenShift packages.

[2020-09-08 15:23] keith-mcclellan opened #167 "[OpenShift - release blocker] spec.customresourcedefinitions.owned.specDescriptors & statusDescriptors needs to be generater"
Currently, we have to manually set the specDescriptors and StatusDescriptors in the CSV, we need to enhance the release process to generate these stanzas properly.

[2020-09-08 17:32] keith-mcclellan opened #168 "Start cockroach pods faster than one at a time"
It is important to restart pods one at a time, particularly during upgrades.  And it's particularly important to shut down or decommission nodes one at a time and wait until the cluster is healthy again before continuing.  But when starting up node (either a new cluster or an expand) there is no need to wait, we can start them all at once.  This is particularly important on larger clusters.

[2020-09-08 18:02] keith-mcclellan opened #169 "[Openshift - Release Blocker] Operator is trying to "upgrade" to null version"
Not 100% sure what's going on here, but the operator container seems to want to upgrade my cluster to a new version that is unset.

This is actually the error I'm getting in the openshift CI logs for certs so it might be what's blocking certification.

`k8s.io/apimachinery/pkg/util/wait.Until
	external/io_k8s_apimachinery/pkg/util/wait/wait.go:90
2020-09-08T17:47:28.588Z	INFO	controller.CrdbCluste

[2020-09-08 19:17] keith-mcclellan commented on #169
[sept8scorecard.log.txt](https://github.com/cockroachdb/cockroach-operator/files/5190553/sept8scorecard.log.txt)
Latest scorecard log - same stacktrace as I am seeing when I run locally.

[2020-09-08 19:19] keith-mcclellan commented on #165
[sept8scorecard.log.txt](https://github.com/cockroachdb/cockroach-operator/files/5190568/sept8scorecard.log.txt)

[2020-09-09 16:48] keith-mcclellan commented on #161
I changed line 285 in statefulset.go to look like this in my local copy, but there is probably a better way to grab the current pod name.

`	" --advertise-host=$(echo $HOSTNAME)" + "." + b.Cluster.DiscoveryServiceName() + "." + b.Cluster.Namespace() +`

[2020-09-10 16:42] #125 closed

[2020-09-10 20:03] keith-mcclellan opened #171 "[OpenShift]"
One of the Red Hat engineers ran into this error when trying to use the operator to launch a cluster in their development environment.

Locally I'm seeing this error preventing the CR from coming up:

2020-09-08T19:11:58.455ZERRORcontroller.CrdbClusteraction failed{"CrdbCluster": "default/crdb-tls-enabled", "error": "failed to reconcile statefulset: no valid Volume source provided", "errorVerbose"

[2020-09-10 20:04] johnrk commented on #153
@keith-mcclellan , can you comment on your concern about our introducing API breaking changes here?

[2020-09-14 19:00] keith-mcclellan opened #172 "[OpenShift - Release Blocker] serviceAccount needs to be set for pods created by operator"
New pods created outside the default namespace throw the following error:

[code]

To resolve this, a serviceAccount needs to be created as a part of the crdbcluster creation and attached to the pods per Zach at IBM.

[2020-09-14 19:10] chrislovecnm commented on #172
I just verified that this is an openshift oddity.  This works on GKE just fine.

[2020-09-14 19:49] chrislovecnm commented on #160
@taroface can you please check to see if this is fixed in master?  I think it is

[2020-09-16 14:39] jlinder commented on #158
This is done.

[2020-09-16 14:39] #158 closed

[2020-09-17 11:19] keith-mcclellan commented on #172
Chris's research determined that this is due to the containers default behavior of running as root inside the container.  He's working on a change for this, plus we determined we had several bugs in our containerized deployment guidance that need to be resolved.

[2020-09-17 11:54] keith-mcclellan commented on #164
Now that we have a manually edited bundle that certifies and launches the operator, I pushed a copy of my local work to the openshift-certification branch - https://github.com/cockroachdb/cockroach-operator/tree/openshift-certification

[2020-09-18 13:30] chrislovecnm opened #175 "Make logging configurable for database"
Currently, the database logging level is hardcoded.

https://github.com/cockroachdb/cockroach-operator/blob/4c5f71bd4ee2370129b8f105e997aa211cc02b50/pkg/resource/statefulset.go#L280

Move this configuration into the API value, in case we need to turn on debug logging or another level.

[2020-09-18 13:32] chrislovecnm opened #176 "Document Openshift Dev Install"
Here are my cheatsheet instructions:

- update the CSV in the 1.0 directory to include the quay.io repo that I own and point to the operator

[code]

- update testconfig.yaml to include Docker bundle
- apply the testconfig.yaml config to the cluster

Document building and deploying the CR container.  Openshift requires an RH container, not the Debian container.

[2020-09-18 15:03] johnrk commented on #51
@keith-mcclellan , isn't this required for our certifications?

[2020-09-24 17:21] johnrk opened #178 "Ensure we are launching CRDB according to our production checklist"
this is related to ensuring we are setting all of the right flags

production checklist docs: https://www.cockroachlabs.com/docs/stable/recommended-production-settings.html

[2020-09-24 21:17] chrislovecnm opened #180 "Document manually cleaning certs"
I am not seeing that the certificates are cleaned up when a db is deleted.  I need to research this more.

[2020-09-24 21:19] chrislovecnm opened #181 "Test if lack of volumeMode breaks operator"
[code]
vs

[code]

The first code block is a diff from the second code block. I had an issue where the operator would run into a race condition maybe if the `volumeMode` was left off of the dataSource block.  We need to investigate more.

[2020-09-30 15:11] johnrk opened #183 "Document deleting kubernetes operator deletes cockroachdb"
when deleting the operator, all the resources that are owned by the controller get deleted except the pv and pvcs

because pv and pvc don't get deleted automatically

[2020-09-30 15:20] johnrk opened #184 "scaling up/down is missing in e2e testing"
In our end to end testing, we needing horizontally scaling up and down of pods

[2020-10-06 23:11] chrislovecnm opened #187 "Error with CR v20.1.6"
[code]

This seems to happen other 20.1 versions as well.

[2020-10-07 00:03] chrislovecnm commented on #187
This is a weird problem that I am having in my dev branch.

[2020-10-08 18:22] johnrk opened #189 "Kubernetes Operator Telemetry"
We need to track adoption across all channels, including the Red Hat Marketplace

[Our docs](https://www.cockroachlabs.com/docs/stable/diagnostics-reporting.html#opt-out-of-diagnostics-reporting) detail how users can opt out of data collection via cluster settings. We should make this configurable in the Operator as well.

old issue: https://github.com/cockroachdb/cockroach/issues/44173

@keith-mc

[2020-10-09 16:05] JuanLeon1 commented on #189
@aaron-crl, @kenliu, @elinorgarcia  (in your compliance hats) can you comment on how GDPR would interfere, if at all, with our plan to expand our telemetry collection?

[2020-10-09 17:43] chrislovecnm commented on #137
cc @alinadonisa

[2020-10-09 17:43] chrislovecnm commented on #91
cc @alinadonisa

[2020-10-09 17:47] chrislovecnm commented on #160
@taroface can you please test this again?

[2020-10-09 17:48] chrislovecnm opened #190 "Test development instructions"
Please get the project building locally. You may have challenges with two things

1. The image line in the operator may need to change to a previous value, as I am not certain bazel is replacing it properly
2. When you run --stamp with bazel it uses https://github.com/cockroachdb/cockroach-operator/blob/master/hack/build/print-workspace-status.sh for env variables.  These variables point to which

[2020-10-09 17:50] chrislovecnm commented on #190
There is also an issue open that you have to have realpath installed on the mac.  I have used Linux mostly for dev, so you may run into a couple of mac specific edge cases.

[2020-10-12 14:59] johnrk opened #191 "Configure K8s Operator to Allow for BACKUPs to NFS/Local"
As detailed in our [BACKUP](https://www.cockroachlabs.com/docs/v20.1/backup.html) enterprise feature docs, _CockroachDB's BACKUP statement allows you to create full or incremental backups of your cluster's schema and data that are consistent as of a given timestamp._

As an operator (user) using the Kubernetes Operator for my deployment, I can schedule backups to the following endpoints ([backup l

[2020-10-12 16:01] chrislovecnm opened #192 "Build working on a mac"
Get e2e testing working on a mac

[2020-10-12 19:26] chrislovecnm opened #193 "run e2e tests in parallel and refactor e2e tests"
The e2e tests do not seem to run in parallel and are already taking 8 minutes to write.  The test suite that we are using does not respect the -test.parallel flag and I am uncertain why.

[2020-10-19 16:02] chrislovecnm opened #195 "Remove rbac definition in operator.yaml and have kubebuilder create it"
Currently we have two different rbac files, we need to have a single file.

[2020-10-20 13:47] alinadonisa opened #196 "OpenShift Cluster on GCP"
We need an openshift k8s cluster on GCP to test and validate the operator.
We should document all the steps needed to obtain this  environment.

[2020-10-20 14:09] alinadonisa opened #197 "Update of one of the fields from CrdbCluster CRD finishes with errors"
When a field from CrdbCluster Spec is edited, it triggers an reconcile on all the resources, StatefullSet included and it tries to update fileds from StatefullSet  that cannot be updated, throwing an error.

The update functionality should be reviewed to set the correct behaviour.

[2020-10-20 14:16] alinadonisa opened #198 "Implement delete CrdbCluster CRD functionality"
When deleting a  CrdbCluster CRD from the cluster, we should review the lifecycle of the PV resource.

[2020-10-20 16:13] #192 closed

[2020-10-21 22:17] taroface commented on #160
Working now! Thanks.

[2020-10-21 22:17] #160 closed

[2020-10-23 03:34] johnrk commented on #91
@taroface , this issue is still open.

[2020-10-23 03:41] johnrk commented on #152
@taroface , this issue is still open but was determined to be a non-MVP issue.

[2020-10-23 03:43] johnrk commented on #116
cc @bdarnell , @keith-mcclellan , @JuanLeon1 , - here's the discussion about the hack directory.

@chrislovecnm , after speaking with the team today, we should reconsider our naming of the hack directory for config files that we expect our users to use.

[2020-10-23 06:44] chrislovecnm commented on #116
@johnrk please explain more. The hack directory is not for users but for developers. So I am confused by your statement.

[2020-10-26 15:33] johnrk opened #200 "CockroachDB Image name issue (placeholder)"
We have a hacky way of handling cockroachdb image name

the code expects the image to be named cockroach/cockroach

[2020-10-27 19:31] chrislovecnm commented on #196
@alinadonisa closing this as the work is done

[2020-10-27 19:31] #196 closed

[2020-10-27 19:34] chrislovecnm opened #202 "Upgrade edge cases"
When an update fails what do we do?

Possible ideas:

1. rollback the database update
2. stop and mark the database as failed and stop updating it
3. @chrisseto / @johnrk / @alinadonisa ideas?

I am not really liking option 1, as it does not allow the operator to fix whatever is going on, and would rollback 30 nodes, and something would just have to be done again.
Option 2 is kinda cludgy as well,

[2020-10-27 19:38] chrislovecnm opened #203 "Configurations for updates"
We probably want to allow the user to configure

1. Pod Update Timeout (set at 10 min)
2. Pod Max Polling Intervales (set at 30 min)
3. Sleeper (set at 1 min)
4. Context, set at a really large number now

[2020-10-27 19:39] chrislovecnm commented on #203
@chrisseto should these configurations be per operator or per crdb?

[2020-10-27 19:40] chrislovecnm opened #204 "Fix hardcoded values"
We have a few hardcoded values in the update code

"system"
"db"

etc.

Move those into a common consts that are used by both update code and statefulset builder.

[2020-10-27 19:42] chrislovecnm opened #205 "Database connection edge case"
We may have an error case where the operator will not finish an update, but will still try to make a database connection.

[2020-10-27 19:43] chrislovecnm opened #206 "Remove emptyDir"
CRDB cannot run when using emptyDir.  Check that the PVC that was defined is not an empty dir.

[2020-10-27 19:45] chrislovecnm opened #207 "Change when we connect to the db during updates"
We connect to the database at the start of the update, which is a trade-off.

Good: we test that the DB is up and functional
Bad: we keep a DB connection open a LONG time

We need to determine if we should move connecting to the DB to the end of the update

[2020-10-27 19:48] chrislovecnm opened #208 "E2E test for downgrades"
We need an e2e test that tests downgrades.

@johnrk do we have documentation for this process?

[2020-10-27 19:50] chrislovecnm opened #209 "Update status"
We need to set the Status object with the various phases for the update.  This is pending @alinadonisa's status work.

[2020-10-27 19:53] chrislovecnm opened #210 "More refactoring of update code"
1. Error handling needs improvement.  We are not detecting when we have an error vs, when we for instance do not find a pod
2. We have hardcoded strings
3. We may have dead code

[2020-10-27 20:11] chrislovecnm commented on #202
I need to review this document as well. https://github.com/cockroachdb/docs/pull/8615

[2020-10-28 14:28] chrisseto commented on #202
I would put in a vote for automatically rolling back.

If you'd like it to be a be safer, most failures (incompatibilities) should surface on the first node that is upgraded. The most reasonable solution seems like:
If the first node to be updated does not becomes healthy, rollback.
If the Nth node to be updated does not become healthy, stop the update.

[2020-10-28 18:19] johnrk opened #211 "After abruptly stopping dev-deploy-crdb script, K8s Cluster isn't able to create any CrdbCluster"
In an attempt to test out rolling upgrades, I've been looping on the hack/dev-deploy.sh script. At the moment, my cluster is in a state that I can't create a new CrdbCluster. Below, I've included:
1. Repro Steps
2. Screen shot of repro steps
3. Logs of the Operator Pod
4. Copy of the slightly modified dev-deploy-crdb script (I commented out the make k8s/apply command)

**Repro Steps:**

1. Followi

[2020-10-29 15:12] jhatcher9999 opened #212 "Tanzu - Operator not handling cert signing requests correctly"
I am testing against VMWare Tanzu (TKG) and k8s version `v1.18.6+vmware.1`
[code]

I installed the operator (v1alpha) and tried to apply the example manifest (examples/example.yaml).

If I look at the logs of the operator pod `kubectl log cockroach-operator-7b5d6597df-dh88x`, I see errors like this:
[code]

If I look at the CSRs `kubectl get csr`, I see the CRSs in a pending state:
[code]

Accordi

[2020-10-29 15:22] jhatcher9999 opened #213 "Tanzu - CRDB Operator doesn't provide a way to assign annotations to the PVC used by the created pods"
When you create PVCs that need to bind to PVs in Tanzu, you need to specify which storageClass to use.  For some reason, Tanzu doesn't want that storageClassName specified in the pvc.spec; instead it wants it specified as an annotation in the pvc.metadata.annotations like this:
[code]

When specifying the CrdbCluster manifest file, I don't think there's a way to specify the annotations for the PVC

[2020-10-29 15:24] chrislovecnm commented on #213
Did you name the storage class in the CR?

[2020-10-29 15:24] jhatcher9999 opened #214 "CRDB Operator doesn't give any output for kubectl explain"
`kubectl explain` is a really helpful tool for figuring out what parameters can be passed into manifests.

However, I don't get any output when I try to examine the CrdbCluster object this way.
[code]

[2020-10-29 15:37] jhatcher9999 commented on #213
yeah, I tried putting the storage class name in like this:

[code]

But, the PVC would show as having no storageClassName assigned if you looked at it with `kubectl get pvc`

I even tried deleting the PVC and recreating it in different ways.  If I specified the storageClassName in the annotation, it would work; otherwise it just got ignored.

[2020-10-29 15:42] jhatcher9999 commented on #213
[VMware TKG Multicloud Validation Guide_20200928.pdf](https://github.com/cockroachdb/cockroach-operator/files/5459555/VMware.TKG.Multicloud.Validation.Guide_20200928.pdf)

See page 118 of the VMWare Cert guide where they provide this annotation-based syntax

[2020-10-29 16:01] keith-mcclellan commented on #212
@johnrk fyi, not sure if this should go to alina or chris, probably depends

[2020-10-29 19:41] jhatcher9999 commented on #212
Here are the logs (filtering out info messages) from the statefulset after I try manually approving the cert:
[code]

And here are the logs (filtering out info messages) from the crdb pod-0:
[code]

Still not sure why pod0 is not coming up or why the statefulset doesn't try to kick off pod1 or pod2.

[2020-10-30 18:38] johnrk opened #216 "Enable Pod Security Policies (placeholder)"
A large customer requested support for [Pod Security Policies](https://kubernetes.io/docs/concepts/policy/pod-security-policy/).

[2020-11-04 17:41] alinadonisa opened #217 "CRDB operator fails on Openshift installation with GCP"
On Openshift installation with GCP,  creating a new crdbclusters CR fails with logs:

I201104 17:01:29.613743 66 server/server.go:1514  [n?] no stores bootstrapped and --join flag specified, awaiting init command or join with an already initialized node.
W201104 17:01:29.714369 92 gossip/gossip.go:1296  [n?] invalid bootstrap address: &{typ:tcp addr:crdb-no-tls-example-1.crdb-no-tls-example.alina:

[2020-11-04 17:59] alinadonisa opened #218 "CRDB Operator throws an error when deleting CR, PV's and PVC's"
When deleting a CV , all the PV's and all PVC's from the namespace, the operator returns an error.

2020-11-04T17:47:26.303Z	DEBUG	controller-runtime.controller	Successfully Reconciled	{"controller": "crdbcluster", "request": "alina/crdb-no-tls-example"}
2020-11-04T17:47:26.304Z	INFO	controller.CrdbCluster	reconciling CockroachDB cluster	{"CrdbCluster": "alina/crdb-no-tls-example"}
2020-11-04T17:4

[2020-11-06 01:30] #90 closed

[2020-11-09 17:48] robinbraemer opened #221 "proposal: rename "spec.nodes" to "spec.replicas""
I suggest naming the `spec.nodes` field in the `CrdbCluster` CR to `spec.replicas` in the next version, since such field is commonly named `replicas` in core Kubernetes (ReplicaSet, Deployment, StatefulSet, DaemonSet) and wide space of other CRDs out there.

[2020-11-10 13:42] chrislovecnm opened #223 "Fix flakey e2e test"
When I run the following e2e test on a Linux build box in GCP, the test is passing.

https://github.com/cockroachdb/cockroach-operator/blob/fc9cc257bc5b24950fc538250c950f0da31029ad/e2e/e2e_test.go#L333

When the test is run via TeamCity, the test is consistently failing.  I am uncertain what is going on, so I am marking the test as a flake and not running the test in normal test runs.

We need to

[2020-11-10 15:04] alinadonisa opened #225 "Openshift Documentation for CSV generation"
- Document update-csv.sh that runs from bazel

[2020-11-10 15:06] alinadonisa opened #226 "Create bundle docker image from bazel for Openshift"
Generate the bundle image from bazel

[2020-11-10 15:07] alinadonisa opened #227 "Create package format with OPM on Openshift"
Create package format with OPM on Openshift

[2020-11-10 15:24] chrislovecnm opened #228 "Fix pv scaling unit test flake"
This test is flakey

https://github.com/cockroachdb/cockroach-operator/blob/42fcbda6090de34cb14941267a66bd623d1842f5/pkg/scale/persistent_volume_pruner_test.go#L36

It depends on two Sleep timers to work correctly.  We need to address the issues.

[2020-11-10 17:55] alinadonisa opened #229 "Remove emptydir and hostpath from datastore UI on Openshift"
Only pvc should be available

[2020-11-10 19:44] chrislovecnm commented on #229
I think we can do host path

[2020-11-11 00:34] keith-mcclellan opened #230 "Cockroach Operator needs to be published to an publically available location"
Currently, the cockroach operator isn't published to a publically available location and https://raw.githubusercontent.com/cockroachdb/cockroach-operator/master/manifests/operator.yaml needs to have *.spec.containers.image updated to reference that published location.  Also, RELATED_IMAGE_COCKROACH should be updated to point at the latest cockroachdb docker container.

[2020-11-11 00:45] keith-mcclellan commented on #230
The effect of this is that the announced `CockroachDB on Kubernetes` instructions don't work and someone who wanted to use it would have to build from source, publish to a custom location, and use our developer scripts to deploy the operator.

[2020-11-11 00:54] keith-mcclellan commented on #230
ideally the operator container would be published to https://hub.docker.com/u/cockroachdb/cockroach-operator and the manifest file would be updated to point at that and https://hub.docker.com/u/cockroachdb/cockroach for the db container

[2020-11-11 01:45] #230 closed

[2020-11-11 03:52] piyush-singh opened #234 "K8s Operator guide default resource limits in example.yaml do not work for recommended machine types"
In our [K8s operator](https://www.cockroachlabs.com/docs/stable/orchestrate-cockroachdb-with-kubernetes.html#install-the-operator) docs for GKE, we have a section that covers resource limits. Our guide walks users through creating a GKE cluster with the machine type as `n1-standard-4`.

`gcloud container clusters create cockroachdb --machine-type n1-standard-4`

In the resource limits section, we

[2020-11-11 14:37] johnrk commented on #234
@chrislovecnm ,

As discussed in Slack, @DuskEagle and @chrisseto have recommended that users continue using **n1-standard-4**. This would be consistent with CC SRE best practices. And for the example.yaml to be updated with the following:

[code]

[2020-11-11 14:38] johnrk commented on #234
@piyush-singh , to clarify, this is an Engineering issue, so I've assigned it to Chris Love.

[2020-11-11 14:56] piyush-singh commented on #234
I would run through with the suggested config and confirm that it works. I was unable to get my cluster up and running with 4 vCPUs specified as the resource limit. Once we confirm that limit will allow the cluster to run, we can make an update to the `example.yaml` file. Note that the docs also reference the current default values, so we will need a corresponding update to our docs.

[2020-11-11 17:43] taroface commented on #234
I'm going ahead and changing the published docs to use `cpu: "2"` and `memory: "8Gi"`. Verified that this works.

[2020-11-11 23:23] #234 closed

[2020-11-11 23:36] taroface opened #238 "pod creation failing on minikube"
When running minikube with `hyperkit VM (CPUs=2, Memory=12000MB, Disk=20000MB)`, the [example.yaml](https://github.com/cockroachdb/cockroach-operator/blob/master/examples/example.yaml) with a `cpu: "1"` request/limit causes pod creation to hang when creating pod `cockroachdb-1`.

[code]

`kubectl describe pod` has the following output:

[code]

[2020-11-12 16:05] chrislovecnm commented on #238
@taroface I do not think that we should debug why minikube is not working while GKE is working.  @johnrk asked me to comment on this.  Different distributions will run in different manners, and it GKE and EKS work I think we have our bases covered.

Closing this per @johnrk

[2020-11-13 16:17] JuanLeon1 commented on #238
As discussed elsewhere, on minikube we need at least 3 cpus.   See the [slack thread](https://cockroachlabs.slack.com/archives/C0165QKD78F/p1605138007354600) that rehashed the prior standup conversation.

[2020-11-13 16:17] #238 closed

[2020-11-15 00:16] Nican opened #239 "Generate client certificates"
We have a deployment of cockroach-operator on GCP, and we am looking to generate certificates for clients, as documented here: https://www.cockroachlabs.com/docs/v20.2/cockroach-cert#create-the-certificate-and-key-pair-for-a-client

Where is `ca.key` stored? Or is there another way to generate client certificates?

And are certificates automatically rotated with cockroach-operator?

[2020-11-15 03:23] Nican commented on #239
Reading further into the documentation, it seems like it uses the kubernetes CA as the key, but I am still trying to figure out if only supporting a single client cert is a limitation of the cockroach-operator, or my lack of understanding.

[2020-11-16 15:56] chrislovecnm commented on #239
@Nican thanks for the questions!

The operator, but default, uses the Kubernetes certificate manager to create TLS certificates for the database.  A root certificate is created and a node certificate is created.

I recommend using the certificate manager to issue a client certificate. Here is the documentation https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/ - can can also use the r

[2020-11-16 16:27] chrislovecnm commented on #50
@johnrk this is complete.  Closing issue

[2020-11-16 16:27] #50 closed

[2020-11-16 16:27] chrislovecnm commented on #74
This is completed and behind a feature flag.  closing issue

[2020-11-16 16:27] #74 closed

[2020-11-16 16:32] chrislovecnm commented on #189
@johnrk, this is already implemented.

See the following code.

https://github.com/cockroachdb/cockroach-operator/blob/0527c931d133a7c7f80af429dca65da824b17da7/pkg/resource/statefulset.go#L199

We talked about how Openshift may have a network policy that does not allow the pod to have cluster egress by default, but otherwise, this should work.

So my thought is that we are done here, but what do y

[2020-11-16 16:33] chrislovecnm commented on #138
@johnrk this is completed.  Closing this issue

[2020-11-16 16:33] #138 closed

[2020-11-16 16:34] chrislovecnm commented on #57
This is done closing issue

[2020-11-16 16:34] #57 closed

[2020-11-16 16:34] chrislovecnm commented on #59
This is done, closing.

[2020-11-16 16:34] #59 closed

[2020-11-16 16:58] chrislovecnm commented on #211
This is no longer relevant with Bazel.  Closing issue

[2020-11-16 16:58] #211 closed

[2020-11-16 17:00] chrislovecnm commented on #84
@taroface we have multiple APIs that have to be enabled to run the demo.  Is this something that you can document?

[2020-11-16 20:03] Nican commented on #239
@chrislovecnm, thank you for taking your time for writing all this answer. I really appreciate it.

I am looking over the link you posted, and it does not make much sense to me, but I will spend some time later this week reading on the subject. I am also looking at `actor/request_cert.go` to see how these certificates are generated.

[2020-11-16 20:44] jlinder opened #242 "Fix the version in the docker image labels"
In `//cmd/cockroach-operator:operator_image:ubi_base_image` ([link](https://github.com/cockroachdb/cockroach-operator/blob/5d3afca9802499537899d7aa7c1ed492be0cf781/cmd/cockroach-operator/BUILD.bazel#L43)).

[2020-11-16 20:58] taroface commented on #84
@chrislovecnm I can add it to my backlog if this is something we need for the CRDB docs and/or README. However, I would need to prioritize it against a higher-priority project that just started and will take up most of my time for at least the next several weeks.

[2020-11-18 13:32] alinadonisa opened #245 "Add validation to set minimum 3 nodes on CRD- validation webhook"

[2020-11-18 20:00] alinadonisa opened #246 "Refactor decommission feature code"
We need to  create a single package database, remove some scale up code and, clean up a bit

[2020-11-19 18:51] alinadonisa opened #247 "Test decommission feature and partial updates"
To test this you need to:

1. Push a new docker image on docker hub;

2. Follow steps  from README.md, but instead of **applying the operator manifest** from github run following steps:

[code]
3. For decommission just go to the CRD and change the nodes field:

[code]

[2020-11-19 18:56] alinadonisa opened #248 "Add documentation for feature gates"
Add FeatureGates.MD file

[2020-11-23 12:50] arminfelder opened #249 "Add option to define additonal custom labels and annotations"
Add an option to define custom labels and annotations to the CRD, which are then applied, to the StatefulSet as well as to the Pods

[2020-11-23 14:22] johnrk commented on #247
@alinadonisa , is this a request for me to acceptance test the decommissioning improvements that you made?

[2020-11-23 14:27] johnrk commented on #189
@chrislovecnm , yes, I see that is implemented.

To confirm, is there a way that can we work around this policy?

In addition, based on this environment variable, there is no way to distinguish between OpenShift clusters and non-OpenShift clusters? We need to be able to see the difference in our telemetry.

[2020-11-23 16:54] alinadonisa commented on #247
yes :) with database load and more complex scenarios if it is possible

[2020-11-24 16:11] johnrk opened #250 "Deploy latest CRDB release to OpenShift"
We need to update our listing on OpenShift

Current Bug: Database isn't starting. Known issue that we ran into the first time that we deployed to OpenShift. And we had to do workarounds to get it to work.

[2020-11-24 18:41] alinadonisa commented on #189
@johnrk, @chrislovecnm  I just checked and the curl command from the Open Shift container works as expected. @chrisseto  can confirm also. The traffic can egress from Open Shift containers.

[2020-11-24 19:37] johnrk commented on #189
@alinadonisa , @chrislovecnm , I assume we're good to go to run this outbound security port change by security?

[2020-11-24 19:50] chrisseto commented on #189
@johnrk I don't think we need to make a change to allow network access? @alinadonisa has confirmed that there is _not_ a network policy that prevents egress on port 80/443 by default. Or do we just need to notify users that we will be collecting telemetry?

Would that mean having a different value for `COCKROACH_CHANNEL` in OpenShift vs vanilla K8s? IE `kubernetes-operator` vs `openshift-operator`

[2020-11-24 22:16] chrislovecnm commented on #189
My hesitation is now we have code in the operator for the different
platforms, but we can do it. We need to determine that this is actually
working since someone said it is not.

On Tue, Nov 24, 2020 at 12:51 PM Chris Seto <notifications@github.com>
wrote:

--
Chris Love
clove@cnmconsulting.net
https://chrislovecnm.com
Calendar: http://j.mp/cnmCalendar
Follow me on twitter: @chrislovecnm

[2020-11-24 22:51] Nican commented on #239
Hello @chrislovecnm,

Upon further research, it seems like there is a container called `cockroachdb/cockroach-k8s-request-cert` which seems to initialize certificates for applications. I found an example here: https://github.com/cockroachdb/cockroach/blob/master/cloud/kubernetes/example-app-secure.yaml#L19-L41

It seems to be the best way to go, instead of me trying to manage the certificates myse

[2020-11-25 00:16] chrislovecnm commented on #239
@chrisseto, will the request-cert container pull the correct certificate for a client?

cc @johnrk - John who can help with this?

[2020-11-25 00:25] Nican commented on #239
I got it working. I also had to also create this 5 resources in the application (non-default) namespace: https://github.com/cockroachdb/cockroach/blob/master/cloud/kubernetes/cockroachdb-statefulset-secure.yaml#L1-L67

And after deployment, run `kubectl certificate approve <my application namespace>.client.root`

I am still trying to understand if I need to create a service account per namespace,

[2020-11-25 01:20] chrislovecnm commented on #239
@Nican if you want to document what you did and submit a PR that would be awesome.

Here would be great doc/client-cert.md!

I am also thinking that we might want to create a other CRD for client certificates. The operator has the code to issue the cert and approve or as well. Thoughts?

[2020-11-25 01:40] Nican commented on #239
Sure. I can work on a PR.

I am not very familiar with k8s, so my recommendations are limited. The current solution I am using seems to have the downside of granting the application access to generate any certificates, which seems against the principle of least privilege.

But yes, it would be great to just have 1 additional resource to generate all the client certificate necessities would be nice

[2020-11-25 16:13] chrisseto opened #251 "Document that StorageClasses should use reclaim policy: delete"
When scaling a cluster down, any PVCs created by that cluster will be deleted. However, the underlying PVs will only be cleaned up if the storage class uses the `Delete` reclaim policy.

If the reclaim policy is `Retain`, users may accidentally hemorrhage money via unused disks.
If the reclaim policy is `Recycle`, I have no idea what will happen.

cc @alinadonisa

[2020-11-25 16:28] chrisseto commented on #239
+1 to this, having the operator manage client certs could go a very long way for usability.
It may even be reasonable to have the operator contain a CRD for spinning up a pod to access the cluster as well.

This is actually the first time I've seen that container. Based off the [provided link](https://github.com/cockroachdb/cockroach/blob/master/cloud/kubernetes/example-app-secure.yaml#L19-L41) it

[2020-11-25 19:42] chrislovecnm commented on #251
@chrisseto what is the default in GKE?

[2020-11-25 19:48] chrisseto commented on #251
To the best of my knowledge, the default is always `Retain`

[2020-11-25 20:52] chrislovecnm commented on #127
We are using dockerhub

[2020-11-25 20:52] #127 closed

[2020-11-25 21:11] #242 closed

[2020-11-25 21:48] Nican commented on #239
As a bit of background, as a security requirement for the company I work at requires certificate auto-rotation every 6 months. Part of the reason is that sometimes certificates would expire, and services would have day long outages as developers scramble to figure out how to generate a new certificate and deploy them all the necessary services.

I noticed that GCP's k8s CA certificate is set to ex

[2020-11-25 21:52] chrislovecnm commented on #239
@chrisseto we were just talking about this. @johnrk lets discuss during next standup.

@Nican does your company have a software package for generating certs?

[2020-11-25 22:01] Nican commented on #239
Well- I am using CRDB as a pet hobby project to learn GCP.

But otherwise yes, the company I work for uses a program to automatically generate certs. ([Configure certificate auto-rotation in Key Vault](https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-rotate-certificates))

[2020-11-27 05:27] 70data opened #254 "Are there plans to support other cloud platforms?"
CockroachDB Kubernetes Operator are there plans to support other cloud platforms, for example, the AWS、Alibaba Cloud and so on, not only GKE.
Or have any roadmap?

[2020-11-28 23:21] chrislovecnm commented on #254
This operator is only tested on GKE is made to support other clouds as well.  The GKE cluster needs to have the certificate manager installed, or you need to create your own TLS certificates to use a secure cluster.

[2020-11-29 04:26] 70data commented on #254
Are there any development plans?
This way we also test in other cloud scenarios and feed back to the community.

[2020-11-29 22:46] chrislovecnm commented on #254
Test plans? What are you looking for?

[2020-11-30 12:57] 70data commented on #254
Have any plans for further development of operators?
Whether to use the features of the cloud, or try to decouple from the cloud, or run in a private cloud scenario?

[2020-11-30 18:30] chrislovecnm commented on #254
I will work with @johnrk to get a roadmap issue in GitHub.

Two things are integration points.

1. PV/PVCs - we support using PV/PVCs out of the box as supported via K8s. We will remove support for EmptyDir soon, as it does not work with upgrades.  Otherwise, PV/PVCs are supported as usual.
2. We use the Kubernetes [certificate provider ](https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-clus

[2020-11-30 18:32] chrislovecnm opened #255 "Road map Communication"
@johnrk can we create a roadmap issue with the bugs we want to address, and other features that we want to build in the operator?  If not an issue, how do we want to communicate this to our users?

[2020-11-30 18:56] chrislovecnm commented on #249
@johnrk PTAL

@arminfelder this to me sounds like a great idea!  We are always happy to have new contributors.

[2020-11-30 18:57] chrislovecnm commented on #221
@johnrk PTAL

[2020-11-30 18:57] chrislovecnm commented on #221
@chrisseto thoughts?

[2020-11-30 18:59] chrislovecnm commented on #214
@johnrk PTAL

[2020-11-30 19:01] chrislovecnm commented on #214
@alinadonisa / @jhatcher9999  do you know if this is possible with a CRD?  Otherwise, we need to research it.

cc @chrisseto

[2020-11-30 19:01] chrislovecnm commented on #217
@alinadonisa did we fix this or figure out the bug?

[2020-11-30 20:02] jhatcher9999 commented on #214
It looks like to get kubectl explain support, you need your CRD to specify a structured schema:

[code]

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#publish-validation-schema-in-openapi-v2

This article talks about it a little bit too: https://kubernetes.io/blog/2019/06/20/crd-structural-schema/

My sense/guess is that the schema embedded in our

[2020-11-30 21:40] alinadonisa commented on #217
Partially solved. It was related to permissions on Open Shift. We passed this but we get another error. I am still working on it with @chrisseto

[2020-11-30 21:53] alinadonisa commented on #214
@chrislovecnm we will need to add some generator tags for this.

[2020-11-30 23:10] chrislovecnm commented on #214
@johnrk let's talk about backlogging this. @jhatcher9999 if you want to help out, please let us know!

[2020-11-30 23:48] chrislovecnm commented on #213
@jhatcher9999 the operator does not creaste the PVCs ... K8s does.  The VolumeClaimTemplate stanza on the statefulset causes an controller to create the PV and PVCs automatically.

Let us know if you figure out anything else.

[2020-12-01 00:12] chrislovecnm opened #256 "Not cleaning up TLS secret"
When we delete a CR cluster the operator and k8s is not cleaning up the secrets.

@alinadonisa I do not think this is filed as a bug yet.  Are you fixing this in the openshift PR?

[2020-12-01 00:23] chrislovecnm commented on #212
This might be a 1.18.6 change.  GKE is still on 1.17.13.

I am not even getting a field `SIGNERNAME` on k get csr.  We need to test on GKE 1.18.6 and figure out if this is a change between them.

https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/ talks about SIGNERNAME

Also, https://github.com/cloudfoundry-incubator/quarks-operator/issues/891 looks like the issu

[2020-12-01 01:16] 70data commented on #254
Thanks a lot.

[2020-12-01 01:16] #254 closed

[2020-12-01 07:22] alinadonisa commented on #212
@jhatcher9999  please install the latest version of the operator from the master. The service account from the master used by the operator it is  called cockroach-operator-role-default and has extra permission that initially were missing. I run  Open Shift on k8s 1.18.3 and I passed this error.

[2020-12-01 17:50] chrisseto commented on #221
I think I would prefer to keep it as `spec.nodes`.
Internally and in our docs, a single instance of the cockroach process is [referred to as a node](https://www.cockroachlabs.com/docs/v20.2/cockroach-node.html)
An operator generally translates domain specific concepts into K8s concepts, so I don't see a need to keep the terminology consistent.

I'm also a bit worried that `replicas` could get conf

[2020-12-03 20:59] johnrk opened #257 "Make CockroachDB Kubernetes Operator Available on Helm"
**Is your feature request related to a problem? Please describe.**
The CockroachDB Kubernetes Operator is not available on [Helm](https://helm.sh/docs/intro/install/). According to the CNCF 2020 Survey, it's the most popular tool for packaging apps on Kubernetes ([report](https://www.cncf.io/wp-content/uploads/2020/11/CNCF_Survey_Report_2020.pdf)).

**Describe the solution you'd like**
Similar to

[2020-12-08 16:41] chrislovecnm commented on #73
This is already implemented.  Closing

[2020-12-08 16:41] #73 closed

[2020-12-08 16:42] chrislovecnm commented on #257
@chrisseto thoughts on this issue?

[2020-12-08 16:47] chrislovecnm commented on #76
@johnrk this is a pretty big issue for "first issue", so I changed it to help wanted. We do need it, and after working on a couple of "first issues" this is a good issue to take on as you understand the code more.

[2020-12-08 17:31] vktr-brlv commented on #249
Hey @chrislovecnm, this one looks like a good start.
Any additional inputs from you appreciated. Thanks!

[2020-12-08 18:08] chrislovecnm commented on #249
@vktr-brlv

1. We need new API values
2. There is a common create labels fund, add the api values to that

[2020-12-08 18:11] chrislovecnm commented on #249
Api values https://github.com/cockroachdb/cockroach-operator/blob/master/api/v1alpha1/cluster_types.go

The apis get generated with bazel run //hack:update-crds

[2020-12-08 18:16] chrislovecnm commented on #249
https://github.com/cockroachdb/cockroach-operator/blob/master/pkg/labels/label.go

There is the common func

Update the stateful set unit test under /pkg/resources

If you are running any bazel commands we should probably add them to the Developer markdown document

[2020-12-08 18:17] chrislovecnm commented on #249
@vktr-brlv let me know what I missed. The operator will deploy to k8s using the bazel commands. See the makefile

[2020-12-08 18:19] vktr-brlv commented on #249
@chrislovecnm Thanks!

[2020-12-09 16:03] johnrk opened #258 "Address Permissions Required by the Operator"
We need to constrain the permissions needed by the operator (currently needs all the privileges).
For example:
[code]

[2020-12-10 22:03] alinadonisa opened #259 "CockroachDB database service account not linked to CSV generation"
operator-sdk does not insert the database service account in the csv. Automate using a **faq** tool.
See https://operator-framework.github.io/olm-book/docs/packaging-an-operator.html

[2020-12-10 22:18] alinadonisa opened #260 "Missing specDescriptors and statusDescriptors on the second step of the generation with operator-sdk for Openshift"
The fields specDescriptors and statusDescriptors are generated on config/manifests/bases/cockroach-operator.clusterserviceversion.yaml after running command:
[code]
When executing the following command specDescriptors and statusDescriptors are excluded from the csv that was generated in the package manifest:
[code]
The file that runs this commands is hack/update-pkg.sh

[2020-12-10 22:23] alinadonisa opened #261 "Red Hat Operator Image should be modified from bazel"
The Red Hat operator image should be set from a single place when running bazel.
This should be done on bundle/packagemanifest generation step.
Impacted targets are **release/update-pkg** and **gen-csv**.

[2020-12-14 23:40] Nican opened #262 "StatefulSet will not come back online"
**Scenario:**
While using K8s on GCP, I wanted to give the VMs more memory, so I created a new pool of nodes with different configuration, and then deleted the first pool.

**Expected behavior:**
For the pods to roll over gracefully to the new nodes.

**What happened:**
The first mistake seems like a problem in behavior from GCP, where I got into a state where all 3 CRDB pods were evicted from the

[2020-12-16 16:21] #137 closed

[2020-12-16 22:57] chrislovecnm commented on #262
I do not understand what you mean. Did you edit the CR to give the database nodes more memory?

[2020-12-16 23:12] chrislovecnm opened #265 "First Draft of Test Plan"
Release an alpha or beta version of the operator and use that version during the testing (you can also build off of a tag before the container is pushed)

1. Create a 5 node cluster with an older CR version
2. Update the cluster to the latest CR version
3. Downsize the cluster to 3 nodes - test cluster with SQL
4. Delete the cluster
5. Create a new cluster with 10 GB PVC with 3 nodes
6. Increase t

[2020-12-16 23:29] Nican commented on #262
The nodes were too small, and did not have enough memory. I had to create new VMs with more memory, and migrate the pods over.

![image](https://user-images.githubusercontent.com/796294/102418845-6d470980-3fb3-11eb-9748-62e11b09eb99.png)

[2020-12-17 13:37] chrislovecnm commented on #262
You could have done a kubectl rolling-update, and it would have moved the pods. These tasks are a more kube management process and not something the operator would do.

You would cordón the old nodes and create a new node pool. Then do a rolling update restart with the statefulset. You can use kubectl to perform all of these tasks.

This is probably not something the operator should support since

[2020-12-17 15:09] #260 closed

[2020-12-17 15:10] alinadonisa commented on #250
We have fixed this. Now we need to release the operator first and than the bundle.

[2020-12-17 15:53] johnrk commented on #250
@alinadonisa , Let's keep this open until it's successfully deployed

[2020-12-18 05:27] Nican commented on #262
Let me get back to you on that one.

The problem is not necessary the nodes, but really, a disaster scenario for the CRDB cluster. If I delete the availability set, but not delete the persistent disks, and try re-creating the CRDB cluster again with the same disks, the cluster might not come back online.

[2020-12-20 19:35] vktr-brlv commented on #206
@chrislovecnm Could you please clarify more on the issue? Thanks!

[2020-12-21 13:55] chrislovecnm commented on #206
In the api you are able to use an empydir disk type. Remove that and fix the tests to use pvc’s

[2020-12-28 23:43] johnrk commented on #265
@chrislovecnm , two things:

1. Is our [Custom Resource Definition](https://github.com/cockroachdb/cockroach-operator/blob/master/config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml) the source of truth of what we expose in our API for the Operator?
2. Can you specify which items in our API, such as PullPolicyName, are documented, tested, untested?

[2020-12-30 14:53] johnrk opened #267 "Red Hat Bug: Using Old Version of UBI | Causing us to not pass"
It appears we're relying on a cached version of the UBI

What if we found a way to ensure that we use the correct UBI version?

Red Hat:

[2020-12-30 15:08] keith-mcclellan commented on #267
Looks like in `WORKSPACE` we pinned a specific sha for a base image rather than taking the latest tag:

current:
`container_pull(
    name = "redhat_ubi_minimal",
    registry = "registry.access.redhat.com",
    repository = "ubi8/ubi-minimal",
    digest = "sha256:3364fa3bd7a5aea2932e352a446ec7f46378885f6a8f03847acc64dd100aa4cc",
)
`

should be:

`container_pull(
    name = "redhat_ubi_minimal",

[2020-12-30 15:16] alinadonisa commented on #267
@keith-mcclellan  I already changed to tag latest and I will push again in one hour 🙂. Thanks

[2020-12-30 16:55] alinadonisa commented on #267
@keith-mcclellan, @johnrk  it worked ...:) Now I will continue with the bundle :)

[2020-12-30 16:55] keith-mcclellan commented on #267
![Screen Shot 2020-12-30 at 11 50 13 AM](https://user-images.githubusercontent.com/4730669/103368540-cc1d8000-4a95-11eb-91d9-a6dd34682cea.png)
I published it for you because I think @JuanLeon1 is OOO.  I think you can close this.

[2020-12-30 17:16] #267 closed

[2021-01-04 14:21] johnrk commented on #189
@chrislovecnm , @chrisseto , @alinadonisa , when we found that the telemetry was being emitted out of OpenShift and non-OpenShift clusters, did we confirm that it reached our internal registration service? cc @keith-mcclellan

[2021-01-04 17:58] johnrk opened #268 "Contractors (Chris Love and Alina) Need Access to VMware, AWS, and Azure Environments"
To ensure the Operator works in more environments, @chrislovecnm and @alinadonisa need access to VMware, AWS, and Azure environments for testing. We have only tested officially in GKE.

Sales Engineering and customers have expressed support for these environments.

[2021-01-04 18:09] johnrk commented on #189
@chrislovecnm , thanks for agreeing to dig into this and verify that it reaches our internal registration service.

[2021-01-04 18:45] keith-mcclellan commented on #189
I spun up a test cluster this morning and @piyush-singh checked in Snowflake that telemetry IS getting to us from my dev env. He ran a quick "select distinct count(clusterid) where envchannel = kubernetes-operator" and the result was 2748 clusters. Of those, the vast majority were "short living (less than 7 days)" clusters. When adding the long running filter the cluster count was 29 clusters usin

[2021-01-05 11:43] alinadonisa opened #270 "Open Shift certification fails"
Open Shift  certification fails with empty status. @keith-mcclellan  for now the Red Hat does not load the result tests.

[2021-01-05 15:59] keith-mcclellan opened #271 "Make the default config a 3 port configuration to separate GRPC and SQL traffic"
Our best practices now recommend splitting the SQL port off from the GRPC port.  Not only does this enable us to allow SQL access from outside the cluster without exposing node to note comms, but it also allows admins to configure TLS encryption for client communications without requiring all those clients to trust the kubernetes CA.

[2021-01-05 16:12] chrislovecnm opened #272 "CI is failing"
We are encountering a new problem with TeamCity.  When the e2e tests start kind we are getting the following error.  We are using kind to start a k8s cluster to test the operator.  We are getting

[code]

Reading issues in the kind repository, this problem may be related to the docker setup.  Was the docker setup changed with TeamCity?  What was updated recently with TeamCity?

None of our PRs are

[2021-01-05 16:18] alinadonisa commented on #270
@keith-mcclellan I have opened a support ticket for this.

https://access.redhat.com/support/cases/#/case/02837062

[2021-01-05 16:20] keith-mcclellan opened #273 "Operator needs to support auto-renew and rotate expiring TLS certificates when possible"
Currently, we don't have an easy way to rotate TLS certificates when they expire.  By default, the internal CA issues certs that expire pretty quickly so this is a blocker for long-running clusters.

[2021-01-05 17:14] chrislovecnm opened #275 "pkg/testutil/validate_headers.go checks for current year"
Instead of checking for a valid year, our check util is checking for the current year.  This is going to take a bit of a rewrite, so we just updated all of the years in a PR.  This issue is actually to fix it.

[2021-01-05 18:20] rickystewart commented on #272
I googled the error and found [this bug](https://github.com/kubernetes-sigs/kind/issues/1350), which looks related. That was apparently fixed with [this PR](https://github.com/kubernetes-sigs/kind/pull/1415). That predates [the version of `kind`](https://github.com/cockroachdb/cockroach-operator/blob/master/hack/bin/deps.bzl#L239) that you're using. Is it possible that upgrading to the latest `kin

[2021-01-05 18:31] rickystewart commented on #272
Running [a build](https://teamcity.cockroachdb.com/viewQueued.html?itemId=2560153) to test that hypothesis.

[2021-01-05 18:39] rickystewart commented on #272
Hmm. Now a slightly different, but definitely related error:

[code]

Still investigating.

[2021-01-05 19:20] rickystewart commented on #272
Out of curiosity I tried to run a test on [the new agent image](https://teamcity.cockroachdb.com/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=2560173&_focus=731) and it doesn't fail in the same way. I assume the new image picks up a new version of Docker which isn't affected in the same way. Some tests still fail though. I'm not sure if this is expected.

I'm going to push

[2021-01-06 16:06] chrislovecnm commented on #272
@rickystewart any progress?  Do you think it is a TeamCity agent issue?  I am thinking it is related to the Agent and not our code.

[2021-01-06 16:14] rickystewart commented on #272
That's my suspicion. I'm updating the agents now, and we'll see what that improves.

[2021-01-06 18:33] chrislovecnm commented on #155
Closing, because this is out of date

[2021-01-06 18:33] #155 closed

[2021-01-06 18:35] chrislovecnm commented on #200
Talking with @keith-mcclellan we need to also support SHAs as well.  We need to include a CRD field for the version of the database, and then apply that as a label or an annotation to the statefulset.  When the CRD and the statefulset are out of sync, then we update the pods.

[2021-01-06 18:36] chrislovecnm commented on #200
@johnrk this may block openshift CI btw.

[2021-01-06 20:20] rickystewart commented on #272
The rollout of the new agents is completed. Are you seeing an improvement now?

[2021-01-07 16:22] johnrk commented on #248
@taroface , to use partitioned updates and decommissioning properly, feature flags are required to be enabled.

In order to enable them, a user has to uncomment [this line](https://github.com/cockroachdb/cockroach-operator/blob/master/manifests/operator.yaml#L226) in the operator.yaml:

          # uncomment this to enable ParitionedUpdates
          # args: ["-feature-gates","PartitionedUpdate=tr

[2021-01-07 16:23] johnrk commented on #248
@alinadonisa , @chrislovecnm , any other context that you think we should add to the README?

[2021-01-07 16:52] chrislovecnm commented on #200
Here is the design that @chrisseto @alinadonisa and I worked out

1. The user defines the image in the CR, which already exists.  This is not a change in the code.  The next steps are code changes.
2. The operator determines that the version of the image differs from the image in the statefulset.
3. The operator creates a new Job or a Pod with the image.  This creates a new CR database.
4. The ope

[2021-01-07 16:54] JuanLeon1 commented on #64
I think we need to break this down and assign people other than Dev Infra for some of the resulting pieces, as well as define the ones we can define a little better.

[2021-01-07 16:59] keith-mcclellan commented on #200
The openshift marketplace requires that we pass in the CRDB image via an environment variable (RELATED_IMAGES_*) - will this support that? See https://redhat-connect.gitbook.io/certified-operator-guide/appendix/offline-enabled-operators#all-operators-helm-ansible-or-golang

[2021-01-07 17:11] chrislovecnm commented on #200
@keith-mcclellan I pinged Zach about the RELATED_IMAGES env variable.  I need to understand how that variable is used during testing.  We cannot just upgrade an existing database depending on that variable.  The OpenShift pattern is flawed when it comes to this.  I need more technical information to work out a design with @chrisseto and @alinadonisa.

[2021-01-07 17:18] chrislovecnm commented on #200
@alinadonisa is this supported yet? https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/contributors/design-proposals/related-images.md

[2021-01-07 17:50] taroface commented on #248
@johnrk I can add this instruction. But is there a reason the line can't be enabled by default?

[2021-01-07 17:51] alinadonisa commented on #200
I need to check, because at this point in the CI they are running operator-sdk 0.8, and in the official design of operator-sdk there is nothing about this: https://github.com/operator-framework/operator-lifecycle-manager/blob/master/doc/design/building-your-csv.md#your-custom-resource-definitions

[2021-01-07 17:54] johnrk commented on #248
@alinadonisa , @chrislovecnm  ^

Is there a reason this isn't enabled by default?

[2021-01-07 17:56] alinadonisa commented on #200
Actually I found the implementation in the  operator-registry for this: https://github.com/operator-framework/operator-registry/commit/8415c1896add93bf8ad51e1be6acc8648e52e180, but if Open Shift does not use this in their CI it does not help us.

[2021-01-07 18:12] alinadonisa commented on #248
@johnrk  we wanted to test first and make sure that we won't affect the existing functionality. The user can enable/disable it.

[2021-01-07 18:16] johnrk commented on #265
?@chrislovecnm , a few additional follow up questions:
we need to update some of our docs to accomplish some of these tests for the bug bash by next Thursday. Can you clarify the following:
- In addition to my questions above, in this test case "Downsize the cluster to 3 nodes - test cluster with SQL" - I assume open a SQL shell on a pod and run a SQL command for the "test cluster with SQL" part o

[2021-01-07 18:20] johnrk commented on #248
@alinadonisa , let's enable it by default then. It's more confusing to have it disabled.

[2021-01-07 18:25] alinadonisa commented on #248
@johnrk the idea was to enable them after they pass the testing phase. After we receive a feedback from you we can do that.

[2021-01-07 18:26] keith-mcclellan commented on #200
copied from Slack: @chrisseto and I had a chat about all this and I think maybe we have a gameplan that we think resolves your concern @chrislovecnm.  the tl;dr is that we will move from “RELATED_IMAGE_COCKROACH” to multiple “RELATED_IMAGE_DBVERSION” variables, and add some evaluation code that will let you define a databaseVersion field in the CR. On the back end the operator will link that versi

[2021-01-07 19:45] johnrk commented on #248
@alinadonisa , performing major version upgrades, scaling up/down worked using the steps you described in [this issue](https://github.com/cockroachdb/cockroach-operator/issues/247).

But the Operator pod failed to start when I ran kubectl apply -f manifests/operator.yaml with that one line uncommented.

Am I missing something?

[2021-01-08 09:14] mgenov opened #277 "new deployment on google cloud dumps TLS handshake errors"
I got a new deployment of cockroachdb using cockroach-operator with the following configuration:

[code]

and server is up and running but the pods logs are continusly showing errors like this:

[code]

[2021-01-08 18:28] johnrk opened #278 "Bug: Feature Gates Are Not Working"
For enabling/disabling Partitioned Updates and Use Decommissoning, by uncommenting [this line](https://github.com/cockroachdb/cockroach-operator/blob/master/manifests/operator.yaml#L226) in the manifests/operator.yaml - it results in an error (kubectl describe operator pod in error state):
<img width="1917" alt="Screen Shot 2021-01-08 at 1 17 48 PM" src="https://user-images.githubusercontent.com/1

[2021-01-08 19:00] chrislovecnm commented on #278
This is probably not the feature gates and possibly something else.   Which manifest did you use?

[2021-01-08 19:11] johnrk commented on #278
This is a dump of the manifest that I used:
[code]

[2021-01-08 19:30] alinadonisa commented on #278
@johnrk  we need a docker release.

[2021-01-08 21:32] chrisseto commented on #200
oooooooooooooooookay. After a couple conversations this is my take away:

Upgrade is currently broken due to an attempt to workaround openshift's CI.
There is a [fix in progress here](https://github.com/cockroachdb/cockroach-operator/pull/279).
It will have to be merged or fixed another way before the next release.

Openshift CI requires that the operator is able to run docker images based on thei

[2021-01-09 17:04] keith-mcclellan commented on #200
1) Depends on the ETA of the greater fix, since we already did this once.
2) Yes, these customers will not be building their own images.  The marketplace does not support that pattern regardless.

[2021-01-11 15:56] johnrk opened #280 "Bug: TLS: Bad Certificate Error from Operator"
Two people from our community found the Operator to result in this error when running: **E210108 09:12:13.337166 4999 (gostd) net/http/server.go:3083  `http: TLS handshake error from 10.24.2.23:60814: remote error: tls: bad certificate`**

**Full Message:**
Hi guys I’m trying out cockroachdb deployment on k8s with the cockroachdb operator with the following configuration:
apiVersion: crdb.cockroac

[2021-01-11 15:58] mgenov commented on #277
Duplicated with #280

[2021-01-11 15:58] #277 closed

[2021-01-11 16:03] mgenov commented on #280
Here are the reproduction steps from my side:

Step 1
[code]

Step 2

Create cluster definition: cockroachdb.yaml
[code]

Step 3:
[code]

Step 4:
[code]

shows continuously the following messages:
[code]

[2021-01-11 16:13] chrislovecnm commented on #272
@rickystewart same issue https://teamcity.cockroachdb.com/buildConfiguration/Cockroach_CockroachOperator_EndToEnd/2569169?buildTab=log&focusLine=3&linesState=494

Next time please feel free to push a dummy PR

cc: @JuanLeon1

[2021-01-12 18:33] rickystewart commented on #272
Small update: I've created a dedicated machine for investigating this, and have found the following:

1. The issue is trivially reproducible by cloning `cockroach-operator` on the machine and running `bazel test //e2e/...`.
2. Upgrading `kind` as in #276 makes the problem manifest slightly differently: `failed to create cluster: failed to generate kubeadm config content: failed to get kubernetes v

[2021-01-12 18:49] chrislovecnm commented on #278
@johnrk I am going to close this issue because it is this build

[2021-01-12 18:52] chrislovecnm commented on #272
What do you mean?

Also what has been upgraded?  This worked previously ...

[2021-01-12 19:02] rickystewart commented on #272
I'm just saying the issue has nothing to do with TeamCity or any of the surrounding infrastructure. If you take a fresh build machine, clone `cockroach-operator`, and run `bazel test //e2e/...`, the issue reproduces. So it reproduces on our build machines but isn't related to TeamCity, the build configuration, etc.

I don't know when this was last working for you, but not much has *explicitly* cha

[2021-01-12 19:11] chrislovecnm commented on #200
List of work

1. Finish status API value work, because we will need this functionality
2. Implement a new API field for CRDB version
3. Implement code to create a Job that spins up a container and parses the CRDB version
4. Store the CRDB version <> container mapping in memory
5. Save the API value and the CRDB version value in an annotation of the statefulset
6. When we create or update a CRDB st

[2021-01-12 19:37] chrislovecnm commented on #272
Can you give me the machine type that you are running it on?

[2021-01-12 19:48] rickystewart commented on #272
I'm using the latest agent image, `teamcity-agent-1609866058` in the `cockroach-teamcity-public-prs` GCP project.

[2021-01-12 20:29] chrislovecnm commented on #272
I am pretty certain that I do not have access to that project or VM template

[2021-01-13 00:22] johnrk commented on #278
@alinadonisa , @chrislovecnm  - @JuanLeon1 pushed it to DockerHub, and it's still not working for me.

[2021-01-13 01:22] JuanLeon1 commented on #278
I used my local docker of course.  What docker should I use?

[2021-01-13 16:35] chrislovecnm opened #283 "Convert Calendar Versioning to a Semantic Versioning"
The cockroach database uses a date versioning and not a semantic version.

For instance, 20.1.1 becomes 201.0.1

We need to remove the first period and a ".0" in the middle of the numbeer

[2021-01-13 16:47] keith-mcclellan commented on #200
As discussed, CRDB uses calendar versioning instead of semantic versioning.  I believe https://github.com/cockroachdb/cockroach-operator/issues/283 is the issue you created to convert to semver.  Otherwise this is correct IMO.

[2021-01-13 16:59] chrislovecnm commented on #278
Closing this, addressed

[2021-01-13 16:59] #278 closed

[2021-01-13 17:04] johnrk commented on #247
This is working.

[2021-01-13 17:04] #247 closed

[2021-01-13 17:06] johnrk commented on #246
We should enable the feature gates by default. I don't think we should document it because that would go against what we'd recommend for end-users.

In the operator.yaml - we should indicate that these feature gates are an internal flag for internal testing.

[2021-01-13 17:10] johnrk commented on #248
I don't think we should document it because that would go against what we'd recommend for end-users.

In the operator.yaml itself, we should indicate in the comments that these feature gates are an internal flag for internal testing.

[2021-01-13 17:17] johnrk opened #284 "Enable feature gates for Partition Updates and Decommissioning by default"
Let's enable the Partitioned Updates and Use Decommissioning Feature by default.

In addition, let's add a comment in the operator.yaml that clearly communicates that these are for internal use only. We will intentionally hide this from our public docs and README to discourage users from changing these flags.

[2021-01-13 17:25] chrislovecnm commented on #284
Feature gates are typically not for just internal use.  Users can test new beta or alpha features.  This functionality models what k8s does.

[2021-01-14 15:31] johnrk commented on #284
@chrislovecnm That's fair. But it's problematic if Partitioned Updates and Decommissioning are disabled by default. It would go against Cockroach Labs' best practices if customers are having them disabled.

[2021-01-14 16:25] johnrk opened #285 "Update examples/example.yaml to include all tested API values"
Build on our examples/example.yaml to include all tested API values

this would mean adding poddisruptionbudget and GrpcPort fields

[2021-01-14 16:25] johnrk commented on #265
@chrislovecnm : Yes. and we should run some stress tests while scaling down. have someone run "cockroach demo."

@chrislovecnm : make sure users understand PDBs. and point to the CRD definition: https://github.com/cockroachdb/cockroach-operator/blob/master/config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml#L293

grpcPort in CRD: https://github.com/cockroachdb/cockroach-operator/blob/master/

[2021-01-14 18:17] Szymongib commented on #76
Hi @chrislovecnm,
Do I understand correctly, that the objective would be to create Ingress in Operator based on the configuration specified in the `CrdbCluster` CR? With config options mimicking the ones from the Helm chart?

If that is the case, would you mind if I take a stab at that?

[2021-01-14 19:16] chrislovecnm commented on #76
@Szymongib i think our first iteration should be an internal elb.

we always appreciate help!

[2021-01-17 18:37] alinadonisa opened #286 "Add new cockroachVersion field"
1. Implement a new API field for CRDB version
2. When we have an image name and not the cockroachVersion API field, we need to create a Job that spins up a container and parses the CRDB version, from cockroach --version.
3. The job is created each time to check the version.

[2021-01-17 18:39] alinadonisa opened #287 "In memory cache for cockroachVersion that can be installed in the cluster"
Store the CRDB version <> image name mapping in memory. This allows the operator to not have to run a Job every time it reuses the same container.

[2021-01-17 18:43] alinadonisa opened #288 "Save version history"
1. Save the CRDB version in an annotation in the statefulset. When the image name or the cockroachVersion API fields we are able to determine if an update is possible or required. We save these values when the statefulset is created, and also when the statefulset is updated.

2. When we create or update a CRDB statefulsets the operator always stores the history of versions. Store a history of the

[2021-01-17 18:46] alinadonisa opened #289 "Validate version field usage"
A user is able to set the CRDB version or the image name. The user cannot set both in the API.

[2021-01-17 18:52] alinadonisa opened #290 "Add 3 env var for cockroachdb related image on Openshift"
1. If a user sets the CRDB version field we will use a container that is provided to the operator via one of the environment variables defined. Each of these environment variables is matched to the current supported CRDB versions.
if the environment variables do not exist the process will fail.

2. If the user sets the container image field the operator will use that container

[2021-01-19 17:50] keith-mcclellan opened #291 "TLS Certificate Generation"
See below for the feedback from Red Hat on how we're signing and issuing certificates in Kubernetes.

-----
We had several engineers review the Operator and found some issues.  This is a synopsis of internal communication to resolve the issue.

The cockroach operator appears to use CSRs in a way that is not compatible with the Kubernetes CSR/v1 API and will stop working in Kubernetes 1.22.  In add

[2021-01-19 18:50] keith-mcclellan commented on #291
I think this will probably turn into an Epic because I see several things we need to do here:

1) default to splitting the SQL port off the GRPC port so our node to node TLS doesn't impact client certs, and change our pods to expose 3 ports by default instead of two (the default pg sql port is port 5432 so that'd be my preference for the SQL port).
2) set up the GRPC port for a new way of signing

[2021-01-19 18:52] keith-mcclellan commented on #291
Another thing that is unclear to me is how we're going to be able to manage pod health checks if the UI cert (which also gets used for the RESTful /health endpoints) doesn't have shared trust with k8s.

[2021-01-19 21:38] johnrk opened #292 "Update docs to include guidance on how to use Custom CA"
For the Operator, Helm Chart, and other install patterns, @keith-mcclellan identified our need to have guidance on how to use a custom CA with the Operator.

1. Generate certs using **Cockroach Cert:** https://www.cockroachlabs.com/docs/v20.1/cockroach-cert.html

2. **Inject client certs into secret:** `kubectl create secret tls $clientTLSSecret --key="client.key" --cert="client.crt"`
3. **Inject

[2021-01-19 21:40] chrislovecnm commented on #292
Please use the cockroach binary to generate the certificates.

[2021-01-19 21:41] johnrk commented on #292
Guide on using the cockroach binary: https://www.cockroachlabs.com/docs/v20.2/secure-a-cluster.html#step-1-generate-certificates

[2021-01-20 16:47] chrislovecnm commented on #292
`kubectl create secret tls test-tls --key="tls.key" --cert="tls.crt"` - this should help creating the secrets cc @johnrk

[2021-01-22 14:32] taroface opened #295 "tls.crt and tls.key shouldn't be hardcoded for nodeTLSSecret"
According to @keith-mcclellan, the API currently requires the filenames `tls.crt` and `tls.key`.

[code]

When creating and signing certs with `cockroach cert create-node`, we have to manually rename the generated `node.crt` and `node.key` to those filenames in order for authentication to work. This is a less-than-ideal user experience.

`nodeTLSSecret` should be able to accept the `node.crt` and

[2021-01-22 18:04] jlinder commented on #64
Linking the [release process notes doc](https://docs.google.com/document/d/1rtDsXrXT8IyHVDJD1uNNofuaXZBYzPjy59F7t9FVUwY/edit#heading=h.ql40hnym3g6i) we created in November.

[2021-01-24 16:31] bootstrapsp opened #296 "Operator pod fails to start with zapLogger error"
Doc version :
20.2.4

To reproduce :
1. kubectl apply -f https://raw.githubusercontent.com/cockroachdb/cockroach-operator/master/config/crd/bases/crdb.cockroachlabs.com_crdbclusters.yaml
2. kubectl apply -f https://raw.githubusercontent.com/cockroachdb/cockroach-operator/master/manifests/operator.yaml

`serviceaccount/cockroach-database-sa created
clusterrolebinding.rbac.authorization.k8s.io/cockr

[2021-01-24 17:32] chrislovecnm commented on #296
Remove the Upgrade feature flag and add the PartionUpdate feature flag.

[2021-01-25 09:10] bootstrapsp commented on #296
Thanks will check this out. For now we moved on with manual config.

From: Chris Love <notifications@github.com>
Date: Sunday, 24. January 2021 at 18:32
To: cockroachdb/cockroach-operator <cockroach-operator@noreply.github.com>
Cc: Sushant <sushant.pandey@wanderersbook.com>, Author <author@noreply.github.com>
Subject: Re: [cockroachdb/cockroach-operator] Operator pod fails to start with zapLogger

[2021-01-25 13:36] johnrk commented on #216
Pod Security Policies are being deprecated: https://github.com/kubernetes/kubernetes/pull/97171

[2021-01-25 15:14] dbist opened #297 "support multiple disks per pod"
Considering that in CockroachDB 20.2 we addressed the proper balancing per store, to overcome the implications of slow fsync, it is recommended to add multiples stores per node in a non-k8s environment. It'd be good to have the same level of flexibility in containers, adding multiple disks and stores per pod.

[2021-01-26 00:02] johnrk opened #300 "Bug: Operator Fails to deploy -"
Problem: I'm unable to deploy the latest Operator

**Repro steps:**
kubectl apply -f manifests/operator.yaml

**Expected Result:**
Operator in running state

**Actual Result:**
- STATUS: CrashLoopBackOff
- container is in restart loop and failing

**Screenshot:**
<img width="1920" alt="Screen Shot 2021-01-25 at 6 59 59 PM" src="https://user-images.githubusercontent.com/1663752/105781089-da997300-5

[2021-01-26 00:39] chrislovecnm commented on #300
@johnrk this is the problem with the older container deployed to dockerhub

[2021-01-26 01:03] andy-kimball commented on #291
I'm not sure I understand what the problem is here. Is it that we are not creating our own CA that's CRDB-specific, but instead relying on a default K8s CA? Or is the problem that the operator is not rotating node and client certificates regularly? Or both?

[2021-01-26 02:14] johnrk commented on #300
@chrislovecnm , ack

I'll leave this open until we address the problem

[2021-01-26 14:39] semoac commented on #249
:wave: This is really important to enable integrations with Datadog and another similar agents.

[2021-01-27 13:19] chrislovecnm commented on #295
@keith-mcclellan do you want me to document this improvement?

[2021-01-27 14:54] keith-mcclellan commented on #200
@chrislovecnm, we had a conversation with @jlinder yesterday about the release process and he informed us that the format of `cockroach --version` is not consistent across releases and suggested we use in-image labels instead, which is something we can easily add to all of our GA images in a consistent fashion.  It is probably worth a followup conversation before this is actively worked.

[2021-01-27 14:58] keith-mcclellan commented on #295
Since we're moving away from using the k8s CA entirely in the near-term, it might be time better spent to design a long-term solution here instead of trying to patch something that's going away soon.  Unfortunately this doesn't seem like an easy fix.

[2021-01-27 15:01] keith-mcclellan commented on #291
@andy-kimball both, we're relying on the Kubernetes CA and they've deprecated that CA's ability to issue application certificates (it's being removed entirely in 1.22).  And we also don't auto rotate certificates.  We discovered this bug because while OpenShift will still let us issue these certificates using the internal CA, they have a very short lifespan (14 days) and they've disabled `kubeadm

[2021-01-27 15:07] keith-mcclellan commented on #300
@johnrk can you verify that the image @jlinder pushed last night fixes this issue?

[2021-01-27 15:49] chrislovecnm commented on #300
Fixed in https://github.com/cockroachdb/cockroach-operator/pull/298

[2021-01-27 15:50] chrislovecnm commented on #296
Fixed with https://github.com/cockroachdb/cockroach-operator/pull/298

 Let me know if we can close this issue!

[2021-01-27 16:07] johnrk commented on #300
It's working. Thanks, All

[2021-01-27 16:07] #300 closed

[2021-01-27 17:10] bootstrapsp commented on #296
yes i am good to close this - thanks!

[2021-01-27 18:31] #296 closed

[2021-01-27 19:02] johnrk commented on #291
@keith-mcclellan , based on the feedback (above) from Red Hat, we could address the major risks here by updating our usage of the beta CSR implementation to the [v1 CSR implementation](https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/#kubernetes-signers)). This would work for our integration with OpenShift until version 1.22, which comes out later this year. Kub

[2021-01-27 22:40] andy-kimball commented on #291
@keith-mcclellan, I don't see the connection between the two problems (using wrong CA and not supporting rotation) and your recommendations (updating how we set up GRPC, SQL, etc ports). Why would doing those things you suggest solve the problems that RedHat has brought up? Also, does the CRDB binary already support everything you want to do, and you're just saying you want to change the default c

[2021-01-28 14:44] johnrk opened #302 "docs: we need to document our disaster recovery strategy (placeholder)"
For the MVP, this will be scoped to one strategy

[2021-01-28 14:47] johnrk commented on #56
@chrislovecnm , is this done? Keith says it might be.

[2021-01-28 14:49] #68 closed

[2021-01-28 14:52] johnrk commented on #153
@chrislovecnm , we're changing this feature to allow users to use insecure clusters for internal testing.

[2021-01-28 14:55] #42 closed

[2021-01-28 14:59] #31 closed

[2021-01-28 15:00] #30 closed

[2021-01-28 15:04] johnrk opened #303 "Document Ingress Support (placeholder)"
For the MVP, let's document how to use Ingress for Cockroach Console/Admin UI and SQL

Related: https://github.com/cockroachdb/cockroach-operator/issues/76

[2021-01-28 15:04] #80 closed

[2021-01-28 15:06] johnrk commented on #40
@chrislovecnm , this may already be done. Can we confirm?

[2021-01-28 15:06] #95 closed

[2021-01-28 15:07] johnrk commented on #87
@chrislovecnm , can we confirm that this got done with the Status work?

[2021-01-28 15:08] johnrk commented on #78
@chrislovecnm , can we confirm that this issue can be closed?

[2021-01-28 15:09] taroface commented on #302
@johnrk Is this doc tied to a specific release?

[2021-01-28 15:09] #100 closed

[2021-01-28 15:13] #134 closed

[2021-01-28 15:20] johnrk commented on #191
We only need to implement one of these strategies for the MVP

And we may be able to cover this with docs

[2021-01-28 15:21] johnrk commented on #217
@alinadonisa , is this done?

[2021-01-28 15:22] johnrk commented on #225
@alinadonisa , can you clarify what this is? Is this for our developer docs?

[2021-01-28 15:23] johnrk commented on #226
@alinadonisa , can you confirm that this is done?

[2021-01-28 15:24] johnrk commented on #246
@alinadonisa , can you provide more context?

[2021-01-28 15:26] #259 closed

[2021-01-28 15:27] johnrk commented on #261
@alinadonisa , can you confirm that this is fixed?

[2021-01-28 15:27] #270 closed

[2021-01-28 15:31] johnrk commented on #262
@Nican , this should be fixed. Is this still the case with the latest?

[2021-01-28 15:35] johnrk commented on #221
Pods in CockroachDB are not replicas of one another. We will evaluate changing this to something less confusing in the future.

[2021-01-28 15:36] johnrk commented on #210
@chrislovecnm , can you confirm that this has been addressed?

[2021-01-28 15:36] johnrk commented on #209
@alinadonisa , is this done?

[2021-01-28 15:37] johnrk commented on #208
We only support downgrades between patch releases. Once a database upgrade has been finalized, you can't downgrade without taking a backup and restoring into another cluster.

[2021-01-28 15:37] #208 closed

[2021-01-28 15:38] #33 closed

[2021-01-28 15:38] #35 closed

[2021-01-28 15:39] johnrk commented on #205
@chrislovecnm , is this done?

[2021-01-28 15:40] johnrk commented on #204
@chrislovecnm , is this still true?

[2021-01-28 15:40] johnrk commented on #203
@chrislovecnm , what's the status of this?

[2021-01-28 15:41] alinadonisa commented on #209
@johnrk  not yet, please leave it until we merge the PR

[2021-01-28 15:41] johnrk commented on #202
@chrislovecnm , is this done?

[2021-01-28 15:42] johnrk commented on #195
@chrislovecnm , is this done?

[2021-01-28 15:43] johnrk commented on #193
@keith-mcclellan to follow up with @chrislovecnm on this.

[2021-01-28 15:43] johnrk commented on #190
this works, according to @keith-mcclellan

[2021-01-28 15:43] #190 closed

[2021-01-28 15:44] #187 closed

[2021-01-28 15:44] alinadonisa commented on #225
@johnrk  is for developer use, and also will be used in the CI for Openshift release, but this is for developer only

[2021-01-28 15:44] johnrk commented on #181
@chrislovecnm , can you provide more context?

[2021-01-28 15:45] johnrk commented on #180
We want to document manually cleaning this up, not the Operator

[2021-01-28 15:46] #176 closed

[2021-01-28 15:47] johnrk commented on #175
@keith-mcclellan to discuss this with @chrislovecnm

[2021-01-28 15:47] #167 closed

[2021-01-28 15:48] #166 closed

[2021-01-28 15:48] johnrk commented on #159
@alinadonisa , can you confirm that this is done?

[2021-01-28 15:48] johnrk commented on #156
this is a duplicate

[2021-01-28 15:48] #156 closed

[2021-01-28 15:49] #150 closed

[2021-01-28 15:49] johnrk commented on #132
@chrislovecnm , can you confirm that this is working?

[2021-01-28 15:49] johnrk commented on #129
this is done

[2021-01-28 15:49] #129 closed

[2021-01-28 15:50] johnrk commented on #126
@chrislovecnm , can you confirm that this is done?

[2021-01-28 15:51] johnrk commented on #157
This is a duplicate

[2021-01-28 15:51] #157 closed

[2021-01-28 15:51] johnrk commented on #124
this is done

[2021-01-28 15:51] #124 closed

[2021-01-28 15:51] johnrk commented on #113
this is done

[2021-01-28 15:51] #113 closed

[2021-01-28 15:52] johnrk commented on #110
this is done

[2021-01-28 15:52] #110 closed

[2021-01-28 15:53] #105 closed

[2021-01-28 15:53] johnrk commented on #104
this is done

[2021-01-28 15:53] #104 closed

[2021-01-28 15:53] #103 closed

[2021-01-28 15:53] johnrk commented on #63
@chrislovecnm , can you confirm that we can close this?

[2021-01-28 15:54] #161 closed

[2021-01-28 15:56] alinadonisa commented on #159
@johnrk  I need to use SCRATCH image to close this

[2021-01-28 15:58] alinadonisa commented on #217
@johnrk  it is done, @chrisseto  made also a patch for this

[2021-01-28 15:59] alinadonisa commented on #261
@johnrk  this is done, there will be another task for the release process

[2021-02-01 16:24] chrislovecnm commented on #216
@johnrk nothing is stopping users from creating their own PSPs.  Can we document this?

[2021-02-01 16:26] chrislovecnm commented on #205
@johnrk this has not been started

[2021-02-01 16:27] chrislovecnm commented on #198
@alinadonisa please add more details to this

[2021-02-01 16:28] #180 closed

[2021-02-01 16:31] chrislovecnm commented on #72
@chrisseto can we close this?

[2021-02-01 16:32] alinadonisa commented on #172
we added a service account for the cockroach db

[2021-02-01 16:32] #172 closed

[2021-02-01 16:32] chrislovecnm commented on #51
@johnrk they can add the license was as an argument. Can we please test this?

[2021-02-01 16:33] taroface commented on #180
@chrislovecnm What issue does it duplicate?

[2021-02-01 16:33] chrislovecnm commented on #41
We need to document this.  This is normal behavior, which we probably can improve, but is not a bug

[2021-02-01 16:33] chrislovecnm commented on #39
Closing - duplicate

[2021-02-01 16:33] #39 closed

[2021-02-01 16:34] chrislovecnm commented on #25
@keith-mcclellan can we close this?

[2021-02-01 16:34] chrislovecnm commented on #54
@keith-mcclellan we should think about renaming this.  Also, I think this is a duplicate

[2021-02-01 16:34] alinadonisa commented on #171
@chrislovecnm  I haven't had this error on our environment for openshift either

[2021-02-01 16:35] chrislovecnm commented on #262
Closing this

[2021-02-01 16:35] #262 closed

[2021-02-01 16:36] chrislovecnm commented on #280
@mgenov where were you deploying this to?  GKE?
cc @keith-mcclellan

[2021-02-01 16:37] alinadonisa commented on #169
we will have another implementation and we already passed the certification so I would close this.

[2021-02-01 16:37] #169 closed

[2021-02-01 16:38] alinadonisa commented on #165
we added a field in the status to save when starting the operator.

[2021-02-01 16:38] #165 closed

[2021-02-01 16:39] #163 closed

[2021-02-01 16:40] mgenov commented on #280
Yes, cluster is deployed on GKE.

On Mon, Feb 1, 2021, 18:36 Chris Love <notifications@github.com> wrote:

[2021-02-01 16:40] alinadonisa commented on #198
@chrislovecnm  PV should be deleted only manually?

[2021-02-01 16:43] chrislovecnm opened #304 "Operator logging is not configurable"
We need to take all of our logging and utilize logging levels.  At scale, the operator is going to produce way too much logging.  We need to implement and document DEBUG, INFO, WARN, and ERROR logging levels.

https://github.com/cockroachdb/cockroach-operator/blob/bb9aeafd821197863f73224255d12de46ebb12df/pkg/actor/decommission.go#L61

Is a great example where we should have DEBUG logging level and

[2021-02-01 16:50] chrislovecnm opened #305 "Status update improvements"
Once we have improved the Status capability via the OpenShift work, all of our actors need to update the status as they do work.  This will allow for better debugging functionality, and also, this will allow different actors to not do operations on a cluster when an error has occurred.  The operator has little functionality that allows the operator to stop working on a cluster, even if an error ha

[2021-02-01 16:50] chrislovecnm commented on #305
@keith-mcclellan thoughts?

[2021-02-01 16:55] chrislovecnm commented on #198
@alinadonisa yes we should not delete the PV or PVC automatically.  Closing

[2021-02-01 16:55] #198 closed

[2021-02-01 17:36] keith-mcclellan commented on #305
how useful would this be outside of an OpenShift based deployment?  If it will work generically it's worth considering, otherwise we should put this in the backlog of future work.

[2021-02-01 17:38] keith-mcclellan commented on #280
Did you previously have a different crdb cluster deployed by the operator with the same name in metadata.name?

[2021-02-01 17:38] keith-mcclellan commented on #171
I think this is fixed now, we can close

[2021-02-01 17:38] #171 closed

[2021-02-01 17:40] keith-mcclellan commented on #54
whats the LOE on renaming?  "nodes" is what we call it when provisioned outside of k8s so I want to keep that but adding a prefix to make it clear isn't a bad idea.  that being said, this is a breaking change from an api perspective.

[2021-02-01 17:41] keith-mcclellan commented on #25
Based on our latest findings I agree this is a bad target for us at the moment.  Closing.

[2021-02-01 17:41] #25 closed

[2021-02-01 17:43] keith-mcclellan commented on #51
The only way I know of to do this would be to set an environment variable argument in the CR, which would expose the license as plain text to anyone with access to the openshift namespace.  Not sure that's what we want to recommend here.

[2021-02-01 17:46] alinadonisa commented on #305
@keith-mcclellan , @chrislovecnm  it is already in progress and used on Openshift. For now it is very generic and simple. It sets 3 states: Failed, Starting and Finished. Starting is the state used mainly for Openshift to skip the timeout. Failed it logs the errors from the operator and Finished will signal that the reconciliation of the CRD finished without any error on any steps.

[2021-02-01 17:49] keith-mcclellan opened #306 "Update operator so it doesn't rely on PID 0"
The operator is still launching cockroachdb container processes as PID 0 - this needs to be fixed.  This update should also allow us to move away from:

[code]

to:

[code]

In the openshift CSV

[2021-02-01 17:51] keith-mcclellan commented on #305
As long as this work isn't so openshift specific that we end up having to reimplement this logic to work properly in a generic k8s environment I agree this is necessary for our next release

[2021-02-01 18:35] mgenov commented on #280
Not sure about that but think that I haven't changed any name. I have an
empty cluster now, so I can rebuild everything from scratch.

Can you guide me about the steps that I need to take? (including cleanup of
existing cluster)

On Mon, Feb 1, 2021, 19:38 Keith <notifications@github.com> wrote:

[2021-02-01 19:04] chrislovecnm commented on #306
We probably need to get the container changed to no run as PID 0

[2021-02-01 19:09] chrislovecnm commented on #229
Closing as this is a duplicate

[2021-02-01 19:09] #229 closed

[2021-02-01 19:15] chrislovecnm opened #307 "Document updating test data"
If you set this to true

https://github.com/cockroachdb/cockroach-operator/blob/bb9aeafd821197863f73224255d12de46ebb12df/pkg/resource/statefulset_test.go#L39

The run `bazel test //pkg/...` it will update all of the test data for you.

We have other places where this is utilized as well.  It is recommended to not update the test data by hand, but review the changes.

[2021-02-01 19:18] chrislovecnm opened #308 "OpenShift cluster integration testing"
Create integration testing to launch on OpenShift.

1. Connect to OS cluster - secure creds
2. Build all containers for openshift
3. Install operator with the oc command line
4. Run e2e tests on cluster

[2021-02-01 19:19] chrislovecnm opened #309 "GKE Integration testing"
Create integration testing to launch on GKE.

1. Connect to OS cluster - secure creds
2. Build all containers for GKE
3. Install operator with the kubectl command line
4. Run e2e tests on cluster

[2021-02-01 19:22] chrislovecnm opened #310 "Change integration testing"
Currently, our e2e testing runs the operator locally.  In order to run integration testing, we need to launch the operator inside of a container, rather than run the binary locally.  Use bazel k8s rules to launch the container.

[2021-02-01 20:37] johnrk commented on #304
Here are docs on CockroachDB's existing logging levels: https://www.cockroachlabs.com/docs/stable/debug-and-error-logs.html#severity-levels

[2021-02-01 21:03] chrislovecnm commented on #54
Replicas is the usual term. The probably is that we have k8s nodes as well

[2021-02-01 21:03] chrislovecnm commented on #305
This is needed cross platform

[2021-02-01 21:06] chrislovecnm commented on #306
We need dumb-init or tihi installed in the base container

[2021-02-01 21:07] chrislovecnm commented on #306
@keith-mcclellan who can get this installed?

[2021-02-01 23:47] johnrk commented on #306
I'm guessing that this is a security issue for the Operator to use PID 0?

[2021-02-01 23:52] johnrk commented on #289
Why are we offering two ways to set the CRDB version in the API (1. CRDB version 2. image name)?

[2021-02-01 23:58] johnrk commented on #288
If we currently don't save the version of CockroachDB, how are rolling updates working?

Or is this something else?

[2021-02-01 23:59] johnrk commented on #288
Also, is this issue a duplicate and/or related to this issue ([In memory cache for cockroachVersion that can be installed in the cluster](https://github.com/cockroachdb/cockroach-operator/issues/287))?

[2021-02-02 00:01] johnrk commented on #289
Also, I am guessing that this issue is related to this issue ([Add new cockroachVersion field](https://github.com/cockroachdb/cockroach-operator/issues/286))?

[2021-02-02 14:10] tbg opened #311 "CustomResourceDefinition is deprecated in v1.16+"
[code]

[2021-02-02 14:12] tbg opened #312 "rbac.authorization.k8s.io/v1beta1 RoleBinding is deprecated in v1.17+"
[code]

[2021-02-02 14:20] tbg opened #313 "resource crdbclusters/cockroachdb is missing the kubectl.kubernetes.io/last-applied-configuration annotation which is required by kubectl apply"
After changing nodes from 3 to 5 and following the example in the README:

[code]

[2021-02-02 14:21] tbg opened #314 "Dead link to example.yaml in readme"
![image](https://user-images.githubusercontent.com/5076964/106613224-409e7f80-656a-11eb-97ce-599a240eeb28.png)

^- dead link

[2021-02-02 14:42] chrisseto commented on #72
I'm tempted to say that we should leave in this open? In CC, we actually don't have liveness probes installed. We've found that the probes timeout at high loads, so k8s kills the pods making the issue even worse.
We've not encountered any issues that would be solved by adding it back in however.

[2021-02-02 17:45] keith-mcclellan commented on #189
We determined this is actually working properly now so closing

[2021-02-02 17:48] keith-mcclellan commented on #79
@chrislovecnm what's the status on this? we should be defaulting this to be the number of cockroachdb nodes -1 by default since the default RF = 3

[2021-02-02 17:48] johnrk commented on #189
@keith-mcclellan , yes it emits "kubernetes-operator" correctly into Snowflake/Looker.

Can we make the telemetry more granular? such as distinguishing between which platform is being used? This is important information.

[2021-02-02 17:49] keith-mcclellan commented on #117
We got this "for free" during the openshift certification process.  You good with closing @johnrk ?

[2021-02-02 17:50] johnrk commented on #117
Yeah, if it's done, let's close

[2021-02-02 17:50] #117 closed

[2021-02-02 17:50] keith-mcclellan commented on #146
@alinadonisa @chrislovecnm I think we can close this now that alina's latest changes are merged and we can programmatically produce a bundle.  Do you both agree?

[2021-02-02 17:53] johnrk commented on #216
ok, great.

I'll open an issue for our documenting this guidance, as one of our customers requested this support.

Closing.

[2021-02-02 17:53] #216 closed

[2021-02-02 17:58] johnrk opened #315 "Document how to use Pod Security Policies"
According to @chrislovecnm , the Operator works with [Pod Security Policies](https://github.com/cockroachdb/cockroach-operator/issues/216)

The official docs state: "Pod Security Policies enable fine-grained authorization of pod creation and updates."

One of our big customers requested support for PSPs.

Let's include a note in how to use it.

@keith-mcclellan , given that PSPs allow users to hav

[2021-02-02 17:58] #261 closed

[2021-02-02 21:08] taroface commented on #180
@chrislovecnm ping

[2021-02-03 12:36] alinadonisa commented on #146
@keith-mcclellan  yes

[2021-02-03 12:36] #146 closed

[2021-02-03 15:52] keith-mcclellan commented on #162
closed/done

[2021-02-03 15:52] #162 closed

[2021-02-03 15:53] keith-mcclellan commented on #84
@johnrk is this necessary for the next release? If not I'd like to move to backlog

[2021-02-03 15:53] keith-mcclellan commented on #99
@chrislovecnm can we close? The related issue you opened has been complete for a while

[2021-02-03 15:56] keith-mcclellan commented on #141
@chrislovecnm I think this is working, but can you confirm we have an e2e test where we inject an additionalArg before we close this please?

[2021-02-03 15:57] #116 closed

[2021-02-03 16:00] johnrk commented on #84
Since we're focused on OpenShift, no I don't think so. @chrislovecnm , thoughts?

[2021-02-03 16:01] johnrk commented on #99
Yes, it's been tested. I think PDBs are still being fixed. @chrislovecnm , what's our status on that?

[2021-02-03 16:25] alinadonisa commented on #227
@johnrk this is done

[2021-02-03 16:25] #227 closed

[2021-02-04 16:46] keith-mcclellan commented on #290
currently we are supporting 19.2, 20.1, and 20.2.  We will be removing 19.2 from support in the spring and replacing it with 21.1 once that release is GA.

[2021-02-04 17:24] johnrk commented on #304
This is related to this open bug: https://github.com/cockroachdb/cockroach-operator/issues/175

[2021-02-04 18:32] johnrk commented on #313
@tbg , it appears this is likely related to minikube. We're not supporting that right now.

[2021-02-04 18:33] johnrk commented on #312
@chrislovecnm , is this being resolved with the other security work that we're doing? What are your thoughts on prioritizing?

[2021-02-04 18:35] johnrk commented on #311
@tbg , thanks for raising this.

@chrislovecnm , this appears to be a critical change.

[2021-02-04 18:36] johnrk commented on #307
@keith-mcclellan says that this is developer docs.

[2021-02-04 18:36] johnrk commented on #307
@taroface , this is something we would probably work on after our initial release.

[2021-02-04 19:16] chrislovecnm commented on #311
This is automatically generated. We need to update kubebuilder, and that is a big change

[2021-02-04 19:19] chrislovecnm commented on #312
This is a duplicate issue. Can we fold it into the CRD issue?

[2021-02-05 13:40] chrislovecnm commented on #312
This is a duplicate of https://github.com/cockroachdb/cockroach-operator/issues/313

both are generated by kubebuilder automatically.

[2021-02-08 21:25] jreut commented on #307
Howdy! Is there a reason I'm assigned to this issue? What exactly needs to be done here?

[2021-02-09 20:10] johnrk commented on #189
@keith-mcclellan , I'm following up here.

[2021-02-10 21:57] johnrk opened #317 "Cornershop: API Fields needed in the Operator (placeholder)"
- taints/tolerations
- affinity rules
- ability to put custom annotations at pod level, service level, and ingress level (for nginx Ingress external authentication outproxy)

From the closed [helm chart parity issue](https://github.com/cockroachdb/cockroach-operator/issues/25):

-  statefulset.labels | Additional labels of StatefulSet and its Pods | {"app.kubernetes.io/component": "cockroachdb"}
-

[2021-02-11 10:56] chrislovecnm commented on #317
taints/tolerations
affinity rules

We should have that already.

[2021-02-15 15:14] mgenov commented on #280
Tried with:

[code]

Also deleted all csr requests, re-deployed the cluster again and the error still remains.
[code]

Any ideas?

[2021-02-15 16:22] chrislovecnm commented on #280
kubectl version

can I get the output of that please

[2021-02-15 16:23] mgenov commented on #280
Sure.

[code]

[2021-02-15 16:26] chrislovecnm commented on #280
So first I need you to downgrade kubectl. You should never use a version higher than one major ahead. I will test out the version in a bit myself.

[2021-02-15 16:50] chrislovecnm commented on #280
So I am able to create both the example and your example as well.

[code]

Let me upgrade GKE.

[2021-02-15 17:00] chrislovecnm commented on #280
Some comments on your CR.

[code]

[2021-02-15 17:07] mgenov commented on #280
It seems missed during copy/paste in the issue. Here is the complete configuration:

[code]

[2021-02-15 17:08] mgenov commented on #280
Just saw the volumeMode and storageClassName. Will remove them from the config. Do I have to re-created cluster after this change or I can check the existing one?

[2021-02-15 17:12] mgenov commented on #280
btw, version in current config is 20.2.4 but the issue is same for 20.2.3 and 20.2.4.

[2021-02-15 17:15] chrislovecnm commented on #280
So I am unable to recreate the issue.  I am using a newer version of GKE, and I would recommend you upgrading.

[code]

Here is what I did

[code]

Wait for the cluster to come up.  This is a pretty vanilla cluster.

[code]

Wait for the operator to come up

[code]
I created the example first to ensure that our example worked. Wait for it to come up, and it works.

[code]

The contents of the YAML

[2021-02-15 17:19] mgenov commented on #280
Thanks. I will give it a try. Can you point me to the secrets location to look for to see whether the problem is related to an old secrets?

[2021-02-15 17:20] mgenov commented on #280
This is what I have in the default namespace related to cockroachdb:
[code]

Could the problem be related to the fact that istio is deployed in the cluster?

[2021-02-15 17:21] chrislovecnm commented on #280
Not tested as of yet

[2021-02-15 17:23] chrislovecnm commented on #280
[code]
That is the old secret, but I am thinking that is not the problem.  I might be istio, will test that.

[2021-02-15 17:24] chrislovecnm commented on #256
@keith-mcclellan this is one that fell through the cracks

[2021-02-15 17:33] chrislovecnm commented on #280
This works

[code]

Testing with istio.

[2021-02-15 17:46] chrislovecnm commented on #280
Yep, it is istio.

[2021-02-15 17:47] chrislovecnm commented on #280
@mgenov I am wondering if we install the certificates by hand if it works.

[2021-02-15 17:49] mgenov commented on #280
I can give it a try. Can you show me a guide or steps to follow?

[2021-02-15 17:50] chrislovecnm commented on #280
I just upgraded my cluster and installed istio and I am getting the error you found.

[code]

[2021-02-15 17:55] chrislovecnm commented on #280
[code]

[code]

It is having a problem talking to itself?

@keith-mcclellan @chrisseto need some assistance with this one.  So when we add istio to a cluster we are having a handshake issue back to the pod itself.  Thoughts?

[2021-02-15 18:08] chrislovecnm opened #318 "Talk about namespaces"
@keith-mcclellan this is a reminder to figure out namespace requirements

[2021-02-15 18:14] chrislovecnm commented on #280
Here are the steps that I used to recreate
1. used create-cluster.sh to create the cluster
2. went into the console and added istio
3. installed the operator
4. used the test yaml file

The cluster seems up, but we are getting errors in the logs.

[code]

See https://github.com/cockroachdb/cockroach-operator/issues/280#issuecomment-779375080 for the errors.

I deleted the cluster and created a new

[2021-02-15 19:53] mgenov commented on #280
Tried to make it working by disabling istio injections :
[code]
https://istio.io/v1.3/docs/tasks/security/ca-namespace-targeting/

But the cockroach-operator started to cycle very fast with the following logs:
[code]
and pods state stales at:

[code]

[2021-02-15 20:51] chrislovecnm commented on #280
What are the logs from the pod?

[2021-02-15 20:53] mgenov commented on #280
Here is the pod error:
[code]

And I got this error in the operator's log:
2021-02-15T20:51:38.181Z        ERROR   controller-runtime.controller   Reconciler error        {"controller": "crdbcluster", "request": "default/cockroachdb-test-1", "error": "failed to reconcile statefulset: Operation cannot be fulfilled on statefulsets.apps \"cockroachdb-test-1\": the object has been modified; please app

[2021-02-15 21:07] chrislovecnm commented on #280
Did you delete the pvc’s?

[2021-02-15 21:12] mgenov commented on #280
Yes, this is the complete set of actions

[code]

And after that I try again from the beginning. Also tried to change the name of the db from cockroachdb to cockroachdb-test to see whether the problem is the same.

[2021-02-15 22:10] mgenov commented on #280
Tried the same configuration on a fresh new cluster with deployed latest version of istio and the result is same.

[2021-02-15 22:29] chrislovecnm commented on #280
The only time I have seen those errors is when the pod is picking up old ip addresses from meta data on a PVC. The first node should not look for nodes that have not started. Try the CR with a different db name please.

[2021-02-15 22:37] chrislovecnm commented on #280
Also, thank you for testing this!

[2021-02-16 07:27] mgenov commented on #280
Tried and with a new name and the result is same:

![image](https://user-images.githubusercontent.com/209223/108030962-b4e02500-7038-11eb-85f9-90c16f90ec97.png)

[code]
![image](https://user-images.githubusercontent.com/209223/108031050-da6d2e80-7038-11eb-8009-8ebd1629acb4.png)

![image](https://user-images.githubusercontent.com/209223/108031201-1d2f0680-7039-11eb-9565-fd4de67fdf67.png)

btw, now

[2021-02-16 08:01] mgenov commented on #280
The issue seems related to:
        storageClassName: standard
        volumeMode: Filesystem
I've rolled back both attributes on my config and thins are booting now when istio is issuer and the console still dumps:
E210216 08:00:40.496950 2999 (gostd) net/http/server.go:3083  http: TLS handshake error from 10.24.0.20:36178: remote error: tls: bad certificate

Will try to disable istio again to se

[2021-02-16 08:32] mgenov commented on #280
As final results when istio is piped for the certificate management the generated secrets are:
[code]
and the log still dumps:
[code]

The other tried case is by disabling the Citadel daemon of istio for dealing with certificates:
[code]
After cluster is re-created the secrets are generated by k8s directly:
[code]

But the TLS: Bad Certificate error is still encountered:

[code]

This points to th

[2021-02-16 15:44] keith-mcclellan commented on #280
The issue with istio is that the sidecar is inserting itself into the pod-to-pod communications over the GRPC port (26257).  You probably don't want to do this because it'll add latency and there's no net benefit of a service mesh in this scenario because each pod is discrete (they aren't replicas of each other, and every database pod needs to directly route to each other to coordinate queries).

[2021-02-16 15:47] mgenov commented on #280
Actually in my case sidecar injection is disabled for this namespace:

[code]

e.g pods are 1/1

When sidecar is used then k8s is showing them as:
[code]
e.g 2 containers are started in the same pod.

[code]

Here is the whole configuration of this namespace.

[2021-02-16 15:52] keith-mcclellan commented on #280
based on

`NAME                                 READY   STATUS    RESTARTS   AGE
cockroach-operator-98c74dd67-rml5s   1/1     Running   0          7h19m
cockroachdb-0                        1/1     Running   0          7h18m
cockroachdb-1                        1/1     Running   0          7h18m
cockroachdb-2                        1/1     Running   0          7h17m`

It looks like your cluster ac

[2021-02-16 15:56] mgenov commented on #280
Yes, the cluster is up and running once I added storageClassName and volumeMode options.

The issue with the TLS error still remaining.

[code]

[2021-02-16 16:32] keith-mcclellan commented on #256
We are going to handle this by documenting that this needs to be manually cleaned up for the time being. @taroface I think you already have a ticket for this, correct?

[2021-02-16 16:35] keith-mcclellan commented on #318
ideally, we want this to be a multi-namespace operator. For the initial release we need to document that this is a single namespace operator @taroface .  Probably worth framing this out and making sure it's in the backlog though.

[2021-02-16 16:38] taroface commented on #318
@johnrk Do you mind filing a docs ticket for this?

[2021-02-16 16:40] taroface commented on #256
I don't think that I do. @johnrk can you confirm?

[2021-02-16 21:02] chrislovecnm commented on #79
Fixed

[2021-02-16 21:02] #79 closed

[2021-02-17 13:52] arminfelder opened #321 "extend CRD to allow location aware setups"
I suggest adding --location argument, and pass it the k8s node name, to prevent suboptimal distribution of replicas inside a cluster

e.g.:

[code]

[2021-02-17 13:56] arminfelder opened #322 "add nodeAntiaffinities"
all cockroach nodes should run with "preferredDuringSchedulingIgnoredDuringExecution"

e.g.

[code]

[2021-02-17 16:42] chrislovecnm commented on #306
@johnrk It is a process-handling issue. PID zero is not a process id that we should use.

[2021-02-17 16:43] chrislovecnm commented on #306
Take a look at `cockroach.sh` script

[2021-02-18 20:47] johnrk commented on #318
@taroface , done: https://github.com/cockroachdb/docs/issues/9828

[2021-02-18 20:54] johnrk commented on #306
cc @keith-mcclellan

[2021-02-18 21:04] johnrk commented on #256
@taroface , we have one now: K8s Operator: [Guidance for manually deleting secrets #9830](https://github.com/cockroachdb/docs/issues/9830)

[2021-02-18 21:07] johnrk commented on #306
@chrislovecnm , thanks

- how are you suggesting we address this process handling issue?

- what and where is the cockroach.sh script? I can't seem to find it in the cockroach-operator repository.

[2021-02-22 17:33] alinadonisa commented on #290
@keith-mcclellan  after speaking with @chrislovecnm  I added the env var value with exact match on the Version Tag. For instance instead of  19.2 we will use 19.2.5. This will help with the partial update code and the private repo issue.

[2021-02-22 17:38] #91 closed

[2021-02-22 18:21] keith-mcclellan commented on #290
@chrislovecnm & @alinadonisa -  I'm confused, we discussed not having the full version number in the env variable.  What are the tradeoffs here?

[2021-02-22 18:25] chrislovecnm commented on #290
The problem is upgrade path. We need the full semver. What happens when the operator manifest is updated for instance? I have already identified one edge case and I think there are more as well.

[2021-02-22 18:32] chrislovecnm commented on #290
@keith-mcclellan as a user in gonna out in 19.2.3 for instance and not 19.2

[2021-02-22 18:34] keith-mcclellan commented on #290
There are two upgrade paths - between feature releases and then between patch releases.  You can upgrade or downgrade between patch releases at will because they all use the same version of the database metadata.  That's why we don't require users to set `cluster.preserve_downgrade_option` for patch releases.  For feature releases (jumping from 20.1 to 20.2) there's the chance that the metadata ha

[2021-02-22 18:40] chrislovecnm commented on #290
@keith-mcclellan that does not help the operator much. That is how the db is updated not the meta information the user needs to provide the operators.

Here is the use case:

1. user creates two cr db's with 1.19 - alpha and beta
2. the env var is set to 1.19.2 image but is named 1.19
3. the user encounters an issue with alpha database, but not beta
4. the user needs to update alpha to 1.19.3, but

[2021-02-25 16:14] johnrk commented on #306
@keith-mcclellan , @chrislovecnm needs the person who owns the packaging of this container to get this done. Is this managed by dev-infra? @jlinder ?

[2021-02-25 16:15] johnrk commented on #306
Keith says that we have an entry point script cockroach.sh

[2021-02-25 16:17] johnrk commented on #306
related issue: https://github.com/cockroachdb/cockroach/tree/ae509ad0413ab225fc48216b0cf75dfb32260afc/build/deploy

[2021-02-25 16:35] chrislovecnm commented on #271
Need to do this feature along with TLS or before.  I think I can do this before.

[2021-02-25 16:39] keith-mcclellan commented on #271
`--sql-addr=:5432` should be the default addition to the cockroach start command, ref: https://www.cockroachlabs.com/docs/stable/cockroach-start.html#start-a-cluster-with-separate-rpc-and-sql-networks and https://www.cockroachlabs.com/docs/stable/cockroach-start.html

[2021-02-25 16:39] chrislovecnm commented on #271
SQL: 5432
GRCP: 26257

Add API value to allow setting the SQL port.

[2021-02-25 16:42] chrislovecnm commented on #271
Add public and private key for the SQL.

[2021-02-25 16:42] keith-mcclellan commented on #271
split TLS - https://www.cockroachlabs.com/docs/v20.1/create-security-certificates-custom-ca#split-ca-certificates

[2021-02-25 17:32] bdarnell commented on #291
We're working on building cert generation into CRDB itself (will hopefully make it into 21.1, see https://github.com/cockroachdb/cockroach/pull/51991). Given that, I think the best short-term plan is to take control of the cert generation in the operator instead of updating to use newer k8s APIs. This could either mean executing `cockroach cert` commands from the operator, or if it's tricky to man

[2021-02-25 18:27] chrisseto opened #324 "Upgrade type detection is incorrect"
Cockroach's version is parsable as a semantic version, however it does not adhere to semantic version semantics. (It uses Calver).
The operator currently relies on a [semver patch constraint](https://github.com/cockroachdb/cockroach-operator/blob/master/pkg/actor/upgrade.go#L106) to detect if an incoming image change requires going through the major upgrade process. This logic is incorrect.

[code

[2021-02-25 21:31] keith-mcclellan commented on #271
From @bdarnell - the cockroach cloud standard here is to use 26257 for sql and move the grpc port, which we can increment to 20258 by default.  We still want all three ports (db console, sql, and grpc) to be configurable so we can provide a CR example in the docs to show how to expose CRDB over the default psql port.

[2021-03-01 17:13] chrislovecnm commented on #322
You can add this affinity rule in the CR if you like.

[2021-03-01 17:15] chrislovecnm commented on #291
per @bdarnell

	"digit or underscore, may contain letters, digits, dashes, periods, or underscores, and must not exceed 63 characters."

[2021-03-01 17:17] chrislovecnm commented on #271
[code]

[2021-03-02 03:18] jlinder commented on #306
Hi. I looked into how our docker images are configured and found the entrypoint script (cockroach.sh) is running as PID 1. It then [`exec`s the cockroach binary](https://github.com/cockroachdb/cockroach/blob/master/build/deploy/cockroach.sh#L9) so it overwrites the process and retains PID 1 for itself.

Similarly, it `exec`s for when it presents a shell. In this image, you can see the `sh` command

[2021-03-02 16:58] johnrk commented on #306
cc @keith-mcclellan

[2021-03-02 18:33] chrisseto commented on #324
The partitioned update feature correctly performs these checks via it's use of [`kindAndCheckPreserveDowngradeSetting`](https://github.com/cockroachdb/cockroach-operator/blob/6ad9adfcd5ad5de471da2b978d7f8951fadc3cfd/pkg/update/update_cockroach_version.go#L183)

[2021-03-05 13:54] keith-mcclellan commented on #189
we could do it by publication channel @johnrk if that would help, but there's no way to get the k8s distro programmatically that I'm aware of.  so it'd be like "kubernetes-operator-dh" for docker hub "kubernetes-operator-gcr" for google container registry and "kubernetes-operator-rh" for the red hat registry.

LOE here is moderate since this is statically set right now, we'd need to modify the bui